
/*---- ARTICLE FILTER ----*/


.article-filter{
	width:100%;
	text-align:center;
	border-bottom:1px dotted #ccc;
	z-index:10;
	.filters{
		display:inline-block;
		padding:10px 0px 30px 0px;
		h2{
			font-weight:bold;
			/*font-family: "ArialNarrowBold", Arial,sans-serif;*/
			font-family: Arial,sans-serif;
			font-size:24px;
			text-align:left;
			text-transform:uppercase;
			color:#4b463f;
		}
		.filter{
			/*background:url(../images/bg-btn-article-filter.png) left center no-repeat;*/
			/*font-family:"ArialNarrowBold",Arial,sans-serif;*/
			font-family:Arial,sans-serif;
			width:260px;
			height:40px;
			line-height:40px;
			margin:0px 25px 15px 0px;
			font-size:14px;
			text-transform:uppercase;
			display: inline-block;
			text-align: left;
			vertical-align: middle;
			cursor:pointer;
			float:left;
			border:0px;
			padding:0px 20px;
			-webkit-appearance: none;
			color:#4b463f;
			position:relative;
			z-index:0;
			@include getsprite-image($bg-btn-article-filter);
			@include getsprite-position($bg-btn-article-filter);
			.btn-toggle{
				position:absolute;
				top:0px;
				right:0px;
				width:50px;
				height:40px;
				z-index:1;
			}
			.form-checkboxes{
				display:none;
				position:absolute;
				width:100%;
				top:40px;
				left: 0px;
				background: #fff;
				z-index:120;
				label{
					/*font-family:"ArialNarrow",arial,sans-serif;*/
					font-family:Arial,sans-serif;
					font-size:14px;
					text-transform:none;
					display:block;
					width:100%;
					float:left;
					position:relative;
					.label-title{
						display: block;
						float: right;
						width: 85%;
						line-height: 20px;
						padding: 8px 0px;
					}
				}
			}
			&:hover
			{
			    color:#e64b00;
			}
		}
		div.active{
			z-index: 100;
			/*background:url(../images/bg-btn-article-filter-open.png) left top no-repeat;*/
			@include getsprite-image($bg-btn-article-filter-open);
			@include getsprite-position($bg-btn-article-filter-open);
			/*
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;*/
		}
	}
}


.article-filter .filters div.active .form-checkboxes{
	display:block;
}


/*
 * customRadioCheck: jQuery plguin for checkbox and radio replacement
 * Usage: $('input[type=checkbox], input[type=radio]').customRadioCheck();
 * Author: Cedric Ruiz
 * License: MIT
 */

.custom-label {
  display: inline-block;
  cursor: pointer;
}
.custom-radio,
.custom-check {
    vertical-align: middle;
	display: block;
	position: absolute;
	top: 10px;
	margin: 0 .4em;
	width: 16px;
	height: 16px;
	margin-right: .8em;
	margin-left: .8em;
	/*background: url(../images/bg-checkbox.png) 0 0 no-repeat;*/
	@include getsprite-image($bg-checkbox-x-idle);
	@include getsprite-position($bg-checkbox-x-idle);

}
.custom-radio { @include getsprite-position($bg-checkbox-o-idle);}
.custom-check.focus { @include getsprite-position($bg-checkbox-x-hover); }
.custom-radio.focus { @include getsprite-position($bg-checkbox-o-hover); }
.custom-check.checked { @include getsprite-position($bg-checkbox-x-marked); }
.custom-radio.checked { @include getsprite-position($bg-checkbox-o-marked);  }
.custom-check.checked.focus {  @include getsprite-position($bg-checkbox-x-hover-marked); }
.custom-radio.checked.focus { @include getsprite-position($bg-checkbox-o-hover-marked); }

/*--- ARTICLE TOP ---*/

.article-top{
	display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height:40px;
	#btn-back-overview{
		background:url(../images/bg-btn-back-to-overview.png) left center no-repeat;
		background-size: 100% 34px;
		font-family:/*"ArialNarrowBold",*/Arial,sans-serif;
		font-size:12px;
		line-height: 33px;
		display: inline-block;
		min-width: 151px;
		text-align: left;
		vertical-align: middle;
		text-transform:uppercase;
		cursor:pointer;
		text-align:center;
		float:left;
	  padding:0 5px;
		span{
			vertical-align:middle;
			margin-right:5px;
		}
	}
	#btn-share-network, #btn-share-mail, #btn-share-print{
		font-size:11px;
		font-family:Arial,sans-serif;
		display:inline-block;
		line-height: 33px;
		color:#e64b00;
		float:right;
		margin-left:15px;
		span{
			img{
				vertical-align:middle;
				margin-right:5px;
				line-height: 33px;
				margin-left:10px;
			}
		}
	}
}

/*---- ARTICLE BODY ----*/

.article-body{
	display:inline-block;
	padding:0px 0px 5px 0px;
	margin-top:15px!important;
    border-bottom: none;
}

.article-content{
	display:inline-block;
	width:600px;
	float:left;
	text-align:left;
	color:#7a8083;
	font:normal 13px/19px Arial,Verdana,Sans-serif;
	.article-image{
		margin:0;
		/*padding:13px;*/
		background:#F5F5F5 url(../images/bg-sidebar-widget.png) top left repeat-x;
		/*
			-webkit-border-radius:5px;
		-moz-border-radius: 5px;
		border-radius: 5px;*/
		/*box-shadow: inset 0 7px 7px -8px #bbb;*/
		margin-bottom:20px;
	  position:relative;
	}
	h1.article-title, h2.article-title{
		font-weight:bold;
		font-family: /*"Arial Bold", */Arial,sans-serif;
		/*font-size:24px;*/
		text-transform:uppercase;
		font-size: 27px;
		line-height:28px;
		margin-bottom:5px;
	}
	h2.article-subtitle, p.manchet{
		font-family: /*"ArialBold", */Arial,sans-serif;
		font-size:12px;
		text-transform:uppercase;
		font-weight:bold;
		font: normal 15px Arial,Verdana,sans-serif;
		color:#e64b00!important;
		margin-top:0px;
		margin-bottom:25px;
	}
}


.LandingPage{
	.article-content{
		h2.article-subtitle{
		    margin-top:25px;
		    font-size:18px !important;
		    color:#E64B00!important;
		    font-weight:bold;
		}
		p{
		    font-size:16px !important;
		    line-height:130%;
		}
		ul{
			li{
		    font-size:16px !important;
		    margin-bottom: 5px;
		    line-height: 1.2;
			}
		}
		img {
		    /*cursor: auto;*/ /*removed hand icon*/
		}
	}
	.content-links li
	{
	    font-size:16px !important;
	    color:#e64b00 !important;
	    font-weight:bold !important;
	}
	.sidel-widget{
		.widget-body
		{
	    line-height:140%;
		}
	}
}


.article-content{
	p{
		font: normal 13px/19px Arial,Verdana,Sans-serif;
		/*font-size:12px;*/
    color:#7a8083 !important;
		margin:0px;
		a{
			/*font-size:12px;*/
			color:#e64b00;
		}
		ul{
			list-style:none;
			padding-left:0px;
			margin-left:0px;
			margin-top:5px;     /*Reduced top margin for bullets*/
		  margin-bottom:10px;  /*Reduced bottom margin for bullets*/
			li{
				font: normal 13px/19px Arial,Verdana,Sans-serif;
				margin-bottom:5px;
				line-height:1.2;
			}
		}
	}
	a{
		/*font-size:12px;*/
		color:#e64b00;
	}
	ul{
		list-style:none;
		padding-left:0px;
		margin-left:0px;
		margin-top:5px;     /*Reduced top margin for bullets*/
    margin-bottom:10px;  /*Reduced bottom margin for bullets*/
		li{
			font: normal 13px/19px Arial,Verdana,Sans-serif;
			margin-bottom:5px;
			line-height:1.2;
			&:before {
				content: "\25A0 ";
				color: #e64b00;
				position: relative;
				top: -3px;
				margin-right: 5px;
				font-size: 8px;
			}
	 	}
	}
}


.article-content-footer{
	/*margin-bottom:10px;*/
	a{
		color:#7a8083;
	}
	.social{
		ul{
			padding:20px 0px 0px;
			display:inline-block;
			list-style:none;
			margin:0px;
			li{
				float:left;
				/*padding:0px 5px;
			    line-height: 28px;
				height:28px;*/
				vertical-align: middle;
				&:before {
					display:none;
				}
				&.share-artile-title{
					margin:0px;
					padding:0px;
					font-family: /*'ArialNarrowBold',*/arial,sans-serif;
					font-size:14px;
					color:#7a8083;
					text-transform:uppercase;
			    font-weight:bold;
			    padding-left:0px;margin-right:20px;
			    width: 150px;
			    line-height: 24px;
				}
				a{
					&#btn-share-mail, &#btn-share-print{
						font-size: 11px;
						font-family: Arial,sans-serif;
						line-height: 16px;
						color: #e54c1b;
						span{
							line-height: 16px;
							vertical-align: middle;
							margin: 0px;
							padding: 0px;
							margin-left: 15px;
						}
						&:after{
							content:"";
							display:inline-block;
							vertical-align: bottom;
							margin-left:5px;
							@include getsprite($icon-share-mail);
							//background: url(images/icon-share-mail.png) right center no-repeat;
						}
					}
					&#btn-share-print{
						&:after{
							@include getsprite($icon-share-print);
						}
					}
				}
			}
		}
	}
}


/*==== WIDGET STYLE ======*/

.sidel-widget{
	display:block;
	float:right;
	background:#f3f3f3 url(../images/bg-sidebar-widget.png) top left repeat-x;
	/*
		-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	/*box-shadow: inset 0 7px 7px -8px #bbb;*/
	margin-bottom:20px;
	.widget-title{
		padding:18px;
		margin:0px;
		border-bottom:1px solid #ececec;
		width:275px;
		font-family:/*"ArialNarrowBold",*/Arial,sans-serif;
		font-size:18px;
		color:#4b463f !important;
		text-transform:uppercase;
		text-align:left;
		font-weight:normal;
		>a{
			color: #4b463f !important;
			&:hover{
				color:#e64b00 !important;
			}
		}
	}
	.widget-body{
		padding:20px;
		margin:0px;
		border-top:2px solid #fff;
		text-align:left;
		width:270px;
		color:#4b463f;
		a{
			&:hover{
				color:#e64b00 !important;
				span{
					color:#e64b00;
				}
			}
		}
		ul{
			list-style:none;
			li{
				height:auto;
				position:relative;
				&:before {
					display:none;
				}
				>a{
					font-size:14px;
					height:auto;
					line-height:18px;
					padding-left:0px;
					display:inherit;
					color:#4b463f;
					margin:10px 0;
				}
				.btn-toggle{
					position:absolute;
					top:5px;
					left:0px;
					width:15px;
					height:15px;
					/*border:1px solid #ccc;*/
					cursor:pointer;
					display:none;
				}
				.sub-list{
					display:none;
					border-bottom:1px solid #fff;
					margin-bottom:5px;
					position:relative;
					width:100%;
					color:#999;
					/*
					max-height:0px;
							-webkit-transition: max-height 0.5s;
					-moz-transition: max-height 0.5s;
					transition: max-height 0.5s;
					*/
					li{
						padding-left: 30px;
						a{
							font-size:12px!important;
						}
					}
				}
				&.has-sub{
					>a{
						/*background:url(../images/img-sidebar-widget-list-bullet-arrow.png) center left no-repeat;*/
						&:before{
							content:'';
							display:inline-block;
							margin-right : 15px;
							@include getsprite($img-sidebar-widget-list-bullet-arrow);
						}
					}
					.btn-toggle{
						display:block;
					}
				}
				&.active{
					>a{
						/*background:url(../images/img-sidebar-widget-list-bullet-arrow-down.png) center left no-repeat;*/
						&:before{
							content:'';
							display:inline-block;
							@include getsprite($img-sidebar-widget-list-bullet-arrow-down);
						}
					}
					.sub-list{
						li{
							&:last-child{
								border-bottom:1px solid #ddd;
								padding-bottom:10px;
							}
							a{
								background:none!important;
								font-weight: normal!important;
								line-height:18px;
							}
						}
					}
				}
				&.current{
					a{
						font-weight: bold;
					}
				}
			}
		}
		p{
			padding:0px;
			margin:0px;
		}
		.btn-link{
			margin-top:20px;
			display:inline-block;
			font-weight:bold!important;
			background-color:#e64b00;
			padding:10px 45px;
			color:#fff;
			&:hover{
				color:#fff;
			}
		}
	}
	.widget-foot{
		padding:0px 20px;
		margin:0px;
		margin-bottom:15px;
		font-size:14px;
		text-align:left;
		width:270px;
		color:#4b463f;
	}
	&.has-icon{
		h3.icon-contact{
			padding-left:15px;
			width:auto;
			vertical-align:middle;
			/*background:url(../images/icon-contact-phone.png) 18px center no-repeat;*/
			&::before{
				content:"";
				vertical-align:middle;
				display:inline-block;
				margin-right:15px;
				margin-left:5px;
				@include getsprite($icon-contact-phone);
			}
		}
	}
	.widget-body{
		&:first-child{
			border-bottom:1px solid #ddd;
		}
		span{
			margin-top:5px;display:inline-block;
		}
	}
	&.sidebar-widget-contact{
	  background:#e64b00 !important;
	  display:block;
		float:right;
		margin-bottom:20px;
		h3{
			/*background:transparent url('/frontend/images/icon-sprite.png') 265px -187px no-repeat;*/
		}
		.widget-title{
			a
			{
			    color:#fff !important;
			    font-weight:bold !important;
			}
		}
	}
}


/*
.sidel-widget .widget-body ul li.active .sub-list{
	max-height:200px;
	display:block;

}
*/




.hero-banner{
	.sidel-widget{
		display:block;
		position:absolute;
		bottom:45px;
		left:0px;
		float:right;
		/*background:rgba(255,255,255,0.7) top left repeat-x;*/
		background:transparent url(../images/bg-banner-widget.png) top right repeat-x;
		/*
		-webkit-border-radius:5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: inset 0 7px 7px -8px #bbb;*/
		margin-bottom:20px;
		.widget-title{
			padding:22px 20px;
			border-bottom:0px solid rgba(150,150,150,0.7);
			width:340px;
		}
		.widget-body{
			border-top:0px solid rgba(255,255,255,0.7);
			width:340px;
			padding:10px 20px;
		}
		.widget-foot{
			width:280px;
			color:#4b463f;
			height: 32px;
			a{
				display:block;width:auto;height:auto;float:left;padding-left:15px;
				vertical-align:middle;
				font-family: /*"ArialNarrowBold",*/Arial,sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: normal;
				color: #4b463f;
				img{
					display:inline!important;
					margin:0px 5px 0px 0px!important;
					vertical-align:middle;
				}
			}
		}
	}
}


/*-- ARTICLE DOWNLOADS --*/

.article-downloads{
	font-family: /*'ArialNarrow',*/arial,sans-serif;
	position:relative;
	width:100%;
	.widget-title{
		font-weight:normal;
		&:before{
			content:'';
			display:inline-block;
			margin-left: 10px;
			margin-right : 25px;
			vertical-align:middle;
			@include getsprite($icon-download-btn);
		}
	}
	.widget-body{
		padding: 15px 0px 0px;
		width:100%;
		text-align:left;
		position:relative;
	  overflow:hidden;
		.article-download-body{
			position:relative;
			padding:0px 0px;
			/*border-top:1px #fff solid;*/
			font-size:12px;
			line-height:24px;
			list-style:none;
			margin:0px;
			width: 180px;
			padding-left: 0px;
			padding-bottom:15px;
			float: left;
			li{
				/*background:url(../images/icon-download-btn.png) 5px center no-repeat;*/
				display:inline-block;
				line-height:14px;
				margin-bottom:5px;
				margin-right:5px;
				a{
					padding-left:0px;
					line-height:16px;
					font-size:12px;
					cursor:pointer;
					margin:0px;
					&:before{
						content:"";
						margin-left:5px;
						margin-right:10px;
						display:inline-block;
						vertical-align:middle;
						@include getsprite($icon-download-btn);
					}
				}


			}
			&:first-child{
				padding-left: 30px;
			}
		}
	}
	&.article-download-pdf{
		.widget-title{
	    &:before{
	      @include getsprite($icon-download-pdf);
	    }
	  }
	}
}

/*
.article-content-footer  .article-downloads .article-download-title{
	font-family: 'ArialNarrowBold',arial,sans-serif;
	padding:20px 30px;
	border-bottom:1px #dedede solid;
	margin:0px;
	font-size:18px;
	text-transform:uppercase;
}
*/


/*--- ARTICLE PREVIEW BASE ----*/


.article-preview{
	*{
		box-sizing: border-box;
	}
	.widget-title{
		/*background:url(../images/icon-popular-article.png) 30px center no-repeat;*/
		width: 100%;
		&:before{
			content:'';
			display:inline-block;
			margin-left: 10px;
			margin-right : 25px;
			vertical-align:middle;
			@include getsprite($icon-popular-article);
		}
	}
	.widget-body{
		width: 100%;
		position:relative;
		text-align:justify;
		a{
			/*width:180px;*/
			width:145px;
			display:inline-block;
			position:relative;
			margin-bottom:20px;
			font-size:12px;
			text-align:left;
			vertical-align:top;
			.article-preview-title{
				display:block;
				float:left;
				font-weight:normal;
				font-family:/*"ArialNarrowBold",*/arial,sans-serif;
				text-transform:uppercase;
				color:#e64b00;
			}
			.article-preview-body{
				display:block;
				float:left;
				font-weight:normal;
				font-family:/*"ArialNarrow",*/arial,sans-serif;
				color:#4b463f;
				font-size:11px;
			}
		}
		&::after{
			content:" ";
			width:100%;
			height:1px;
			display:inline-block;
		}
		.ghost{
			width:150px;
			height:1px;
			display:inline-block;
		}
	}
	&.global-reference{
		.widget-title{
	    &:before{
	      @include getsprite($icon-global-reference);
	    }
	  }
	}
}


.article-related-videos .widget-body .ghost{
	width:150px;height:1px;display:inline-block;
}


/*--- ARTICLE MOST POPULAR ----*/


.article-content-footer{
	.most-popular{
		.widget-title{
			width: 505px;
			/*background:url(../images/icon-popular-article.png) 30px center no-repeat;*/
			padding-left: 75px;
			&:before{
				content:'';
				margin-top:30px;
				@include getsprite($icon-popular-article);
			}
		}
		.widget-body{
			a{
				.article-thumb{
					/*background:url(../images/bg-video-box.png) no-repeat top center;*/
					width:130px;
					height:60px;
					padding:3px 1px 1px 2px;
					position:relative;
					overflow:hidden;
					margin:0;
					margin-bottom:10px;
					text-align: center;
					@include getsprite-image($bg-video-box);
					@include getsprite-position($bg-video-box);
				}
			}
		}
	}
}


/*--- ARTICLE RELATED VIDEOS ----*/
.article-related-videos{
	.widget-title{
		width: 505px;
		/*background:url(../images/icon-related-videos.png) 30px center no-repeat;*/
		&:before{
			content:'';
			display:inline-block;
			margin-left: 10px;
			margin-right : 25px;
			vertical-align:middle;
			@include getsprite($icon-related-videos);
		}
	}
	.widget-body{
		width:560px;
		position:relative;
		text-align:justify;
		a{
			width:150px;
			display:inline-block;
			position:relative;
			margin:10px 0px;
			font-size:12px;
			text-align:center;
			vertical-align:top;
			.video-thumb{
				/*background:url(../images/bg-video-box.png) no-repeat top center;*/
					width:130px;
				height:60px;
				padding:3px 1px 1px 2px;
				position:relative;
				overflow:hidden;
				margin:0;
				margin-bottom:10px;
				text-align: center;
				@include getsprite-image($bg-video-box);
				@include getsprite-position($bg-video-box);
			}
			.icon-video-play{
				position:absolute;
				top:50%;
				left:50%;
				margin-top:-15px;
				margin-left:-15px;
				opacity:0.5;
			}
			.article-related-videos-title{
				display:block;
				float:left;
				font-weight:normal;
				font-family:/*"ArialNarrow",*/arial,sans-serif;
				text-align:left;
				width:160px;
				margin-top:5px;
				margin-bottom:10px;
				color:#4b463f;
			}
			&:hover{
				.icon-video-play{
					opacity:1;
				}
			}
		}
		&:after{
			content:" ";
			width:100%;
			display:inline-block;
		}
	}
}






.article-thumb img, .video-thumb img{
	background:#fff;
}



/*--- ARTICLE SIDEBAR ---*/

.article-sidebar{
	display:inline-block;
	width:300px;
	float:right;
	.sidebar-widget-image-link{
		display:block;
		float:right;
		margin-bottom:20px;
	  width: 310px;
		img {
		    width: 310px !important;
		}
	}
	.sidebar-widget-book-meeting{
		.widget-title{
			/*background:url(../images/icon-book-meeting.png) 20px center no-repeat;*/
			width:230px;
			&:before{
				content:'';
				display:inline-block;
				vertical-align: middle;
				margin-right: 15px;
    		margin-left: 5px;
				@include getsprite($icon-book-meeting);
			}
		}
		.widget-body{
			font-size:14px;
			p{
				a{
					display:block;
					background:#e64b00;
					/*
					-webkit-border-radius:3px;
					-moz-border-radius: 3px;
					border-radius: 3px;*/
					text-transform:uppercase;
					text-align:center;
					width:auto;
					font-family: 'DinotBold',arial,sans-serif;
					font-size:14px;
					color:#fff;
					padding:5px;
					min-width:200px;
					margin:15px 0px 0px 0px;
				}
			}
		}
	}
	.sidebar-widget-contact{
		.widget-title{
			/*background:url(../images/mail-white.png) 20px center no-repeat;*/
	    background-size:23px;
			&:before{
				content:'';
				//margin-top:20px;
				display:inline-block;
				margin-right:5px;
				@include getsprite($mail-white);
			}
		}
		.widget-body p a{
			display:block;
			background:#e64b00;
			/*
			-webkit-border-radius:3px;
			-moz-border-radius: 3px;
			border-radius: 3px;*/
			text-transform:uppercase;
			text-align:center;
			width:auto;
			font-family: 'DinotBold',arial,sans-serif;
			font-size:14px;
			color:#fff;
			padding:5px;
			min-width:200px;
			margin:15px 0px 0px 0px;
			margin-top:0px;
		}
	}
}

@import 'components/widget-sidelinks';

/*--- ARTICLE PREVIEWS ----*/

.article-previews{
	position:relative;
	width:100%;
	margin:0 auto;
	text-align:center;
	min-height:400px;
	>div, ul{
		display:inline-block;
		text-align:left;
	  width: 950px;
		span, li{
			width:300px;
			display:block;
			vertical-align:top;
			margin-top:0px;
	    margin-right:21px;
	    float:left;
	    overflow:visible;
			position:relative;
			padding-bottom:5px;
			cursor:pointer;
			a{
				display:block;
				h2, p, h3{
					font-family:/*"ArialNarrowBold", */arial,sans-serif;
					font-size:14px;
					text-align:left;
					color:#7a8083;
					text-transform:uppercase;
				}
				h2, h3{
					font-size:15px;
					font-weight:bold;
					margin-bottom:0px;
				}
				p{
					font-family:/*"ArialNarrow", "Arial Narrow", */arial,sans-serif;
					text-transform:none;
					margin-top:0px;
					margin-top:1px;
					.link-icon{
						/*background:url(../images/icon-link.png) no-repeat center;*/
						/*vertical-align:center;*/
						margin-left:5px;
						/*padding:5px 8px;*/
						display:inline-block;
				    position:absolute;
				    margin-top:3px;
						@include getsprite($icon-link);
						padding:0;
					}
				}
				img.hover-effect, span.hover-effect{
					position:absolute;
					left:0px;
					top:0px;
					display:none;
					width:300px;
					height:140px;
				}
				span.hover-effect{
					&:after{
						content:"";
						display:inline-block;
						@include getsprite($hover-frontpage-news-image);
					}
				}
				&:hover{
					img.hover-effect, span.hover-effect{
						display: block;
					}
					&:first-child{
						p .link-icon{
							/*background:url(../images/icon-link-hover.png) no-repeat center;*/

							@include getsprite($icon-link-hover);

						}
					}
				}
			}
			.news-video{
		    position: absolute;
		   	top: 45px;
				left: 125px;
		    height:58px;
		    width:58px;
			}
		}
		.clearfix{
			width:100%;
			min-height:1px;
			height:1px;
			margin:0px;
			padding:0px;
			&.article-group-title {
		    width: 942px !important;
		    color: #7a8083;
		    overflow: hidden;
				height:auto;
				margin:1em 0;
			}
			&.past-event-topline {
			  display: block;
				border-bottom: 1px dotted #ccc;
				width: 100%;
				height: 25px;
				overflow: hidden;
				margin-bottom :20px;
			}
		}
	}
}

.Sektion .article-previews, .LandingPage .article-previews{
	border-top:1px dotted #ccc;
	padding: 20px 0px;
}

.LandingPage .article-previews
{
    min-height:0px !important;
}
