/*==== HERO BANNER ====*/
.hero-banner{
	position:relative;
	width:100%;
	min-height:400px;
	margin:0 auto;
	padding-bottom: 15px;
	#slideshow-hero{
		width:100%;
		max-height:608px;
		.item{
			position:relative;
			width:100%;
			min-width:950px;
			img{
				height:100%;
				width:auto;
				margin:0 auto;
			}
			>img{
				visibility:hidden;
			}
			.item-image{
				background-repeat:no-repeat;
				background-position: top center;
				position:absolute;
				width:100%;
				height:100%;
				top:0px;
				left:0px;
			}
			.texts{
				position:absolute;
				top:20px;
				left:50%;
				width:950px;
				margin-left:-475px;
				height:100%;
			  /*padding-left:42px;*/
				.text-head{
					font-family: 'DinotBold',arial,sans-serif;
					font-size:48px;
					text-transform:uppercase;
					max-width:400px;
					line-height: 46px;
					margin: 7px 0px;
				}
				.text-body{
					max-width:300px;
					font-size:16px;
					margin-top: 362px;
				}
				.text-sub{
					/*font-family: 'ArialNarrow',arial,sans-serif;*/
					font-family: arial,sans-serif;
					font-size:24px;
					text-transform:uppercase;
					max-width:400px;
					line-height: 28px;
					margin: 7px 0px;
					color:#7a8083;
					font-weight:normal;
				}
				.text-top{
					font-family: 'DinotLight',arial,sans-serif;
					font-size:28px;
					text-transform:uppercase;
					max-width:400px;
					line-height: 32px;
					margin-top: 64px;
					margin-bottom: 0px;
				}
				.text-more{
					font-family: 'DinotBold',arial,sans-serif;
					font-size:14px;
					text-transform:uppercase;
					max-width:400px;
					line-height: 14px;
					color:#e64b00;
					span.icon-link-hover{
						@include getsprite($icon-link-hover);
						display:inline-block;
						margin-left:10px;
					}
				}
			}
		}
	}
}

.global-reference .hero-banner #slideshow-hero .item .texts .text-head{
	font-family: 'DinotBold',arial,sans-serif;
	font-size:68px;
	text-transform:uppercase;
	max-width:400px;
	line-height: 66px;
	margin: 7px 0px;
}



.hero-banner{

	>.owl-theme{
		.owl-controls{
			text-align: center;
			position: absolute;
			width: 100%;
			bottom: 0px;
			/*background: rgba(0,0,0,0.5);*/
			height: 50px;
			margin:0;
			.owl-pagination{
				position: absolute;
				width: 100%;
				bottom: 20px;
				.owl-page{
					span {
						display: block;
						width: 24px;
						height: 14px;
						margin: 5px 3px;
						filter: Alpha(Opacity=50);
						opacity: 0.5;
						/*
						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;*/
						background: #fff;
					}
					&:hover span{
						filter: Alpha(Opacity=100);
						opacity: 1;
					}
					&.active span{
						filter: Alpha(Opacity=100);
						opacity: 1;
					}
				}
			}
			.owl-buttons{
				position: relative;
				width: 1100px;
				margin: 0 auto;
				.owl-prev, .owl-next{
					position: absolute;
					width:50px;
					height:50px;
					margin: 0px;
					padding: 0px;
					font-size: 12px;
					/*
					-webkit-border-radius:0px;
					-moz-border-radius: 0px;
					border-radius: 0px;*/
					bottom: 200px;
				}
				.owl-prev{
					left: 0px;
					@include getsprite($img-slideshow-prev);
				}
				.owl-next{
					right: 0px;
					@include getsprite($img-slideshow-next);
				}
			}
		}
	}
}



.owl-item{
	background:url(../images/bg-banner-gradient.png) repeat-x top center;
}
