<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=1200" />



  <meta name="robots" content="index, follow" />
  <title>@@title</title>
  <meta name="title" content="Sidel - A Better Match" />
  <meta name="keywords" content="PET, aseptic, liquid packaging" />
  <meta name="description" content="Sidel is the leading global provider of PET solutions for liquid packaging. " />
  <meta name="Content-language" content="da-DK" />
  <meta name="language" content="da-DK" />
  <meta name="author" content="admin" />
  <meta name="dcterms.rights" content="Copyright 2012" />
  <meta name="pubdate" content="2015-08-12T12:07:23" />
  <meta name="resource-type" content="Document" />
  <meta name="owner" content="Sidel" />
  <!--Document settings-->



  <!-- all styles -->
  <!-- <link href="/bundles/sidel-all.css?v=na7AI_OTggMW47sFYaarh17UJdEOendSjc3dQjYYVCQ1" rel="stylesheet"/> -->

  <link href="css/style.css" rel="stylesheet" />




  <!--
         bundles.Add(new ScriptBundle("~/bundles/sidel-head-all.js").Include(
                          "~/scripts/modernizr.custom.js",
                          "~/scripts/jquery-migrate.min.js",
                          "~/scripts/owl.carousel.min.js",
                          "~/scripts/alt.carousel.min.js",
                          "~/scripts/jquery-megamenu.js",
                          "~/scripts/jquery-checkbox.min.js",
                          "~/scripts/tooltipsy.min.js",
                          "~/scripts/jquery.stick.min.js",
                          "~/scripts/jquery.columnizer.js",
                          "~/scripts/script.js",
                          "~/scripts/coverflow.js"
                          ));


                bundles.Add(new ScriptBundle("~/bundles/sidel-foot-all.js").Include(
                          "~/scripts/jquery.placeholder-enhanced.min.js",
                          "~/scripts/fancybox.js",
                          "~/scripts/script-foot.js"
                          ));

                bundles.Add(new StyleBundle("~/bundles/sidel-all.css").Include(
                            "~/css/fonts.css", //font
                            "~/css/owl-carousel.css",
                            "~/css/owl-theme.css",
                            "~/css/owl-transitions.css",
                            "~/css/normalize.css", //css reset
                            "~/css/style.css",
                            "~/css/coverflow.css"
                           ));


                bundles.Add(new ScriptBundle("~/bundles/filter.js").Include(
                            "~/scripts/swfaddress.js",
                            "~/scripts/eb-cool-filter.js"
                        ));
 -->


  <link rel="icon" href="sidel-favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="sidel-favicon.ico" type="image/x-icon" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- <script src="/bundles/sidel-head-all.js?v=uByzwSJ8mPzxIV8J77cCyPpex_8uNDDNvOUZtiWIgag1"></script> -->

  @@if ( title === "Static Package Calculator" ){
    @@include('addscripts.html')
  }


  <script src="scripts/modernizr.custom.js"></script>
  <script src="scripts/jquery-migrate.min.js"></script>
  <script src="scripts/owl.carousel.min.js"></script>
  <script src="scripts/alt.carousel.min.js"></script>
  <script src="scripts/jquery-megamenu.js"></script>
  <script src="scripts/tooltipsy.min.js"></script>
  <script src="scripts/jquery.stick.min.js"></script>
  <script src="scripts/jquery.columnizer.js"></script>
  <script src="scripts/script.js"></script>
  <script src="scripts/coverflow.js"></script>




  <!--[if IE 8]> <script type="text/javascript" src="http://www.sidel.com/scripts/selectivizr-min.js"></script> <![endif]-->

<!--
  <script>
    var _prum = [
      ['id', '5595340eabe53dfa30a218ac'],
      ['mark', 'firstbyte', (new Date()).getTime()]
    ];
    (function() {
      var s = document.getElementsByTagName('script')[0],
        p = document.createElement('script');
      p.async = 'async';
      p.src = '//rum-static.pingdom.net/prum.min.js';
      s.parentNode.insertBefore(p, s);
    })();
  </script>
-->


</head>
