<!-- JAVASCRIPT -->
<!-- <script src="/bundles/sidel-foot-all.js?v=cSiiWmBKhbA3a85YwB1qWvIWDeD3h35R8X9xU1pmR3o1"></script> -->

<script src="scripts/icheck/icheck.min.js"></script>
<script src="scripts/jquery-checkbox.min.js"></script>

<script src="scripts/jquery.placeholder-enhanced.min.js"></script>
<script src="scripts/fancybox.js"></script>
<script src="scripts/script-foot.js"></script>


<!-- survey -->



<!--[if IE 7]>
          <script type="text/javascript" src="/frontend/js/ie7.js"></script>
      <![endif]-->

<!--
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27061325-1']);

  _gaq.push(['_setDomainName', 'sidel.com']);

  _gaq.push(['_setAllowLinker', true]);

  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
-->



</body>

</html>
