<div id="covers-wrapper" class="covers-wrapper">
    <div class="btn-close">
        <span class="title-current-slide"></span><img class="exit-video" src="images/coverflow/exit.png" alt="stop video">
    </div>
    <div id="covers">
            <div class="item slide" data-youtube="tEnU1kaOli8" data-sliden="1">
                <img class="featuredimg" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/2733311/water_bottling_solutions.png&width=638&height=334" alt="Water bottling solutions" width="140" height="140" />
                <div class="card">
                    <div class="cover flipper">
                        <div class="front">
                            <div class="descbox">
                                <h3 class="heading">Water bottling solutions</h3>
                                <p class="copy">
                                    Do you want to ensure your water production line does not come up short? Discover water and proven possibilities from Sidel.
                                </p>
                                <div class="bottom">
                                    <div class="cta">
                                        <span>
                                            Watch video
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="image-play">
                                <div class="img"></div>
                            </div>
                        </div>
                        <div class="back">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide" data-youtube="CPaPz92ZE4M" data-sliden="2">
                <img class="featuredimg" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/2783011/sidel-csd-solution.png&width=638&height=334" alt="Carbonated Soft Drinks bottling solutions" width="140" height="140" />
                <div class="card">
                    <div class="cover flipper">
                        <div class="front">
                            <div class="descbox">
                                <h3 class="heading">Carbonated Soft Drinks bottling solutions</h3>
                                <p class="copy">
                                    In the current CSD market, producers are challenged by changing consumer preferences and emerging markets. Discover CSD and proven possibilities from Sidel.
                                </p>
                                <div class="bottom">
                                    <div class="cta">
                                        <span>
                                            Watch video
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="image-play">
                                <div class="img"></div>
                            </div>
                        </div>
                        <div class="back">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide" data-youtube="nDLukohgdgU" data-sliden="3">
                <img class="featuredimg" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4356341/sidel_tv_jnsdit.png&width=638&height=334" alt="JNSDIT bottling solutions " width="140" height="140" />
                <div class="card">
                    <div class="cover flipper">
                        <div class="front">
                            <div class="descbox">
                                <h3 class="heading">JNSDIT bottling solutions </h3>
                                <p class="copy">
                                    Changing lifestyles and demographics mean the popularity of juice, nectar, soft drink, isotonic and tea beverages is higher than ever. Discover JNSDIT and proven possibilities from Sidel.
                                </p>
                                <div class="bottom">
                                    <div class="cta">
                                        <span>
                                            Watch video
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="image-play">
                                <div class="img"></div>
                            </div>
                        </div>
                        <div class="back">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide" data-youtube="k0mkSEhBlxc" data-sliden="4">
                <img class="featuredimg" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4849908/kid_eating_milk_600_328.jpg&width=638&height=334" alt="LDP bottling solutions" width="140" height="140" />
                <div class="card">
                    <div class="cover flipper">
                        <div class="front">
                            <div class="descbox">
                                <h3 class="heading">LDP bottling solutions</h3>
                                <p class="copy">
                                    Modern lifestyle trends are giving liquid dairy products new life. Discover LDP and proven possibilities from Sidel.
                                </p>
                                <div class="bottom">
                                    <div class="cta">
                                        <span>
                                            Watch video
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="image-play">
                                <div class="img"></div>
                            </div>
                        </div>
                        <div class="back">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="clearfix"></div>
    <div id="covers-thumbs">
        <ul></ul>
    </div>
</div>
