<header class="topbar">
    <div class="masthead page-width">



<!-- Variables -->


<!-- Initialization -->


<nav class="topnav">
    <ul>
        <!-- Language Dropdown -->
        <li class="dropdown">
            <a href="#" id="languageMenuHover">Language/中文版</a>
            <ul id="languageMenu" data-nodename="Your liquids" data-level="2">
                <!-- Loaded from ajax -->
            </ul>
        </li>
        <!-- End language dropdown -->

            <li>
                  <a href="http://www.sidel.com/about-sidel/contact" >
    Contact
</a>

            </li>
            <li>
                  <a href="http://www.sidel.com/about-sidel/media" >
    Media
</a>

            </li>

        <li>
                <a href="/login/"  target=_blank >
          Login<span style="margin-left:5px;"><img src="images/icon-lock.png" alt="lock"/></span>
        </a>
  </li>

        <li style="width: 120px;padding: 0 0 0 10px;">
            <form id="search-form" name="search-form" method="get" action="http://www.sidel.com/search" style="position: relative;">
                <input class="search-input" type="text" name="search">
                <input class="search-submit" type="image" alt="søg" src="images/icon-search.png">
            </form>
        </li>
    </ul>
</nav>



<!-- Helpers -->




        <!-- Variables -->


<!-- Initialization -->


<nav class="menu" id="menu">
    <ul class="main-menu fouc">
        <!-- Level 1 -->
            <li class="pos-1  sub-col-3">
                  <a href="http://www.sidel.com/about-sidel" >
    About Sidel
</a>


                    <div class="sub-wrapper">
                        <div class="sub-menu">
                            <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/about-sidel/media" >
    Media
</a>

                                            <ul class="sub-menu-level-2">
                                                <!-- Level 3 -->
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/media/press-releases" >
    Press releases
</a>

                                                    </li>
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/media/press-contact" >
    Press contact
</a>

                                                    </li>
                                            </ul>
                                </li>
                                <li>
                                      <a href="http://www.sidel.com/about-sidel/events" >
    Events
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/about-sidel/sustainability" >
    Sustainability
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/about-sidel/more-about-sidel" >
    More about Sidel
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/about-sidel/global-references" >
    Global References
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/about-sidel/careers" >
    Careers
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/about-sidel/contact" >
    Contact
</a>

                                            <ul class="sub-menu-level-2">
                                                <!-- Level 3 -->
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/contact/north-america" >
    North America
</a>

                                                    </li>
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/contact/latin-america" >
    Latin America
</a>

                                                    </li>
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia" >
    Europe & Central Asia
</a>

                                                    </li>
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa" >
    Greater Middle East & Africa
</a>

                                                    </li>
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/contact/greater-china" >
    Greater China
</a>

                                                    </li>
                                                    <li>
                                                          <a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific" >
    South East Asia Pacific
</a>

                                                    </li>
                                            </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
            </li>
            <li class="pos-2  sub-col-3">
                  <a href="http://www.sidel.com/services" >
    Services
</a>


                    <div class="sub-wrapper">
                        <div class="sub-menu">
                            <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/services/maintenance" >
    Maintenance
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/services/line-improvement" >
    Line improvement
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/services/training" >
    Training
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/services/spare-parts-logistics" >
    Spare Parts & Logistics
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/services/line-conversions-moulds" >
    Line Conversions & Moulds
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/services/packaging" >
    Packaging
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/services/a-little-bit-more" >
    A Little Bit More
</a>

                                </li>
                            </ul>
                        </div>
                    </div>
            </li>
            <li class="pos-3  sub-col-3">
                  <a href="http://www.sidel.com/equipment" >
    Equipment
</a>


                    <div class="sub-wrapper">
                        <div class="sub-menu">
                            <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/equipment/blowing" >
    Blowing
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/equipment/dry-preform-decontamination" >
    Dry preform decontamination
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/equipment/filling" >
    Filling
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/equipment/blowing-filling-capping-system" >
    Blowing-filling-capping system
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/equipment/labelling" >
    Labelling
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/equipment/end-of-line-solutions" >
    End of line solutions
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/equipment/complete-lines" >
    Complete lines
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/equipment/sidel-matrix" >
    Sidel Matrix
</a>

                                </li>
                            </ul>
                        </div>
                    </div>
            </li>
            <li class="pos-4  sub-col-2">
                  <a href="http://www.sidel.com/your-liquids" >
    Your beverages
</a>


                    <div class="sub-wrapper">
                        <div class="sub-menu">
                            <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/your-liquids/water" >
    Water
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/your-liquids/juices,-nectars,-soft-drinks,-isotonics,-teas" >
    Juices, Nectars, Soft Drinks, Isotonics & Teas (JNSDIT)
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/your-liquids/carbonated-soft-drinks-(csd)" >
    Carbonated Soft Drinks (CSD)
</a>

                                </li>
</ul><ul class="sub-nav-group">                                    <li>
                                      <a href="http://www.sidel.com/your-liquids/liquid-dairy-products" >
    Liquid Dairy Products (LDP)
</a>

                                </li>
                                <li>
                                      <a href="http://www.sidel.com/your-liquids/beer" >
    Beer
</a>

                                </li>
                            </ul>
                        </div>
                    </div>
            </li>
            <li class="pos-5 last sub-col-0">
                  <a href="http://www.sidel.com/why-pet" >
    Why PET
</a>


            </li>
    </ul>
</nav>
<!-- Helpers -->




        <figure class="branding">
            <a href="/" id="logo">
                <img src="images/logo.png" alt="Sidel - A better match" class="subpage-main-logo" />
            </a>
        </figure>
    </div>
    <div id="topbar-dropshadow"></div>
</header>
