<footer class="footer with-nl" id="main-footer">
    <div class="highlights">
        <ul class="page-width">
                <li>
                  <a href="http://www.sidel.com/equipment" class="col-orange">
                        <figure class="highlight-image">
                            <img class="lazy" data-src="http://sidel.com/media/3764644/img-footer-highlights-item-1.png" width="197" height="156" alt="Portfolio" />
                        </figure>
                        <span>Portfolio</span>
                    </a>
                </li>
                <li>
                  <a href="http://www.sidel.com/about-sidel/global-references" class="col-orange">
                        <figure class="highlight-image">
                            <img class="lazy" data-src="http://sidel.com/media/3764649/img-footer-highlights-item-2.png" width="197" height="156" alt="References" />
                        </figure>
                        <span>References</span>
                    </a>
                </li>
                <li>
                  <a href="http://www.sidel.com/about-sidel/media/inline-magazine" class="col-orange">
                        <figure class="highlight-image">
                            <img class="lazy" data-src="http://sidel.com/media/4784344/img-footer-highlights-il7_2.png" width="197" height="156" alt="Magazine" />
                        </figure>
                        <span>Magazine</span>
                    </a>
                </li>
                <li>
                  <a href="http://www.sidel.com/about-sidel/media/sidel-tv" class="col-orange">
                        <figure class="highlight-image">
                            <img class="lazy" data-src="http://sidel.com/media/3764664/img-footer-highlights-item-4.png" width="197" height="156" alt="Videos" />
                        </figure>
                        <span>Videos</span>
                    </a>
                </li>
            <li class="ghost-last"></li>
        </ul>
    </div>
    <div class="colophon">
        <ul class="page-width">
            <li class="footer-about">
                <h2>
                        <a href="http://www.sidel.com/about-sidel" >
                            About Sidel
                        </a>

                </h2>
                <p>Sidel is the leading global provider of PET solutions for liquid packaging. We are committed to being an innovative, responsive and reliable partner, providing sustainable solutions for the beverage industry.</p>
            </li>

                <li class="nl-cntr">
                     <div class="nl-box">
                        <div class="nl-header">
                            <h2>
                                STAY UPDATED WITH OUR LATEST NEWS
                            </h2>
                        </div>
                        <div class="nl-text">
                            <div class="text">
                                Get our newsletter with the latest industry knowledge directly in your mailbox
                            </div>
                            <div class="mail-icon">
                            </div>
                        </div>
                        <div class="nl-orng-txt">
                                <a class="newsletter-signup-now" href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up" >SIGN UP NOW<span class="link-icon"></span></a>
                        </div>
                    </div>
                </li>

            <li class="footer-logo">
                <a href="/"><img src="images/logo-footer.png" alt="logo"/></a>
            </li>
        </ul>
    </div>
    <div class="social">
        <ul class="page-width">
            <li class="footer-title" style="padding-left:0px;">Connect with us</li>

                    <li><a href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up"  class="newsletter-icon" title="Newsletter sign up">
                            <img src="http://sidel.com/media/4845341/email-icon.png" width="28" height="28" alt="newsletter" />
                    </a></li>

                <li><a href="http://blog.sidel.com/" target="_blank"><img src="http://sidel.com/media/3764476/icon-footer-link-sidel.png" width="28" height="28" title="Go to the Sidel Blog" class="hastip" alt="blog" /></a></li>
                <li><a href="http://blog.knowledgeshare.com" target="_blank"><img src="http://sidel.com/media/3764481/icon-footer-link-yellow-arrow.png" width="28" height="28" title="Visit the KNOWLEDGEshare blog" class="hastip" alt="blog" /></a></li>

                <li><a href="https://www.facebook.com/SidelInternational" target="_blank"><img src="http://sidel.com/media/3764786/icon-footer-social-facebook.png" width="28" height="28"  alt="social" /></a></li>
                <li><a href="http://www.linkedin.com/company/sidel" target="_blank"><img src="http://sidel.com/media/3764791/icon-footer-social-linkedin.png" width="28" height="28"  alt="social" /></a></li>
                <li><a href="https://twitter.com/Sidel_Intl" target="_blank"><img src="http://sidel.com/media/3764796/icon-footer-social-twitter.png" width="28" height="28"  alt="social" /></a></li>
                <li><a href="http://www.youtube.com/user/sidel" target="_blank"><img src="http://sidel.com/media/3764801/icon-footer-social-youtube.png" width="28" height="28"  alt="social" /></a></li>

                <li class="footer-links-horizontal">
                    <ul>
                            <li>
                                <a href="http://www.sidel.com/about-sidel/contact">Contact</a>
                            </li>
                            <li>
                                <a href="http://www.sidel.com/legal-notice">Legal notice</a>
                            </li>
                            <li>
                                <a href="http://www.sidel.com/about-sidel/more-about-sidel/the-tetra-laval-group">The Tetra Laval group</a>
                            </li>
                            <li>
                                <a href="http://www.sidel.com/login">Login</a>
                            </li>
                            <li>
                                <a href="http://www.sidel.com/about-sidel/sitemap">Sitemap</a>
                            </li>
                    </ul>

                </li>
        </ul>

    </div>
</footer>
