<aside id="widget-side-links">
  <ul class="site-links">
    <li><a href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up"  class="newsletter-icon" title="Newsletter sign up"><img src="http://www.sidel.com/media/4845341/email-icon.png" width="28" height="28" alt="http://www.sidel.com/about-sidel/contact/newsletter-sign-up"/></a></li>
    <li><a href="http://blog.sidel.com/" target="_blank"><img src="http://www.sidel.com/media/3764476/icon-footer-link-sidel.png" width="28" height="28" title="Go to the Sidel Blog" class="hastip" alt="" /></a></li>
    <li><a href="http://blog.knowledgeshare.com" target="_blank"><img src="http://www.sidel.com/media/3764481/icon-footer-link-yellow-arrow.png" width="28" height="28" title="Visit the KNOWLEDGEshare blog" class="hastip" alt="" /></a></li>
  </ul>

  <ul class="social-links">
    <li><a href="https://www.facebook.com/SidelInternational" target="_blank"><img src="http://www.sidel.com/media/3764786/icon-footer-social-facebook.png" width="28" height="28" alt="https://www.facebook.com/SidelInternational" /></a></li>
    <li><a href="http://www.linkedin.com/company/sidel" target="_blank"><img src="http://www.sidel.com/media/3764791/icon-footer-social-linkedin.png" width="28" height="28" alt="http://www.linkedin.com/company/sidel" /></a></li>
    <li><a href="https://twitter.com/Sidel_Intl" target="_blank"><img src="http://www.sidel.com/media/3764796/icon-footer-social-twitter.png" width="28" height="28" alt="https://twitter.com/Sidel_Intl" /></a></li>
    <li><a href="http://www.youtube.com/user/sidel" target="_blank"><img src="http://www.sidel.com/media/3764801/icon-footer-social-youtube.png" width="28" height="28" alt="http://www.youtube.com/user/sidel" /></a></li>
  </ul>
</aside>
