@@include('../components/doc-head.html',{
  "title" : "About"
})
    <body id="EN" class="Sektion wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/about-sidel" class="first">About Sidel</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/media" >
                                Media
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/events" >
                                Events
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/sustainability" >
                                Sustainability
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/more-about-sidel" >
                                More about Sidel
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/global-references" >
                                Global References
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/careers" >
                                Careers
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/about-sidel/contact" >
                                Contact
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->


            <div class="hero-banner">
            <div id="slideshow-hero" class="owl-carousel owl-theme oneitem" style="background: url('images/bg-banner-gradient.png') top left repeat-x;">
    <div class="item" style="background:url('images/bg-banner-gradient.png') top left repeat-x;">
        <div class="item-image lazy" data-src="http://sidel.com/media/5449970/top-aboutsidel-en_branded_bottles-new.png"></div>
        <img class="" src="images/bg-banner-gradient.png" alt=""/>
        <div class=texts>
        </div>
    </div>

            </div>
        </div>



    <div class="page-content">
        <div class="article-body page-width">
		    <div class="article-content">

		        <h1 class="article-title">
				    A BETTER MATCH FOR SUSTAINABLE LIQUID PACKAGING
			    </h1>

                <h2 class="article-subtitle">
                    Unlocking the value of PET
                </h2>

                <STYLE>
h2.headline-grid{
 font-size: 18px;
font-weight: bold; font-family: Arial, Verdana, sans-serif; text-transform: uppercase; color: #71777a; margin-top: 40px; margin-bottom: 10px;
}

.grid-link-headline{
margin-top: 0px;font-size: 13px; color: #e64a00; font-family: "DINOT-Bold", Arial, Verdana, sans-serif; margin-bottom: 2px; text-transform: uppercase; text-decoration: none; display: block;"
}


</STYLE>

<p>Sidel is responsible for helping to <strong>package
beverages&nbsp;</strong> enjoyed by millions of consumers around
the world every day. Each of our more than 3,400 employees is
committed to this responsibility. In our world, there is only one
product that matters: <strong>The beverage product.</strong></p>

<p>&nbsp;</p>

<p>With <strong>30,000 machines installed</strong> in more than
<strong>190 nations</strong>, Sidel has been helping food and
beverage producers for over 100 of its 160 years of existence. In
that time we have been helping producers fill <strong>beverage
bottles for over 80 years&nbsp;</strong> and blow them for more
than 50. We have 40 years of aseptic packaging expertise, and were
one of the first companies to introduce PET bottles to the beverage
industry over 30 years ago.</p>

<p>&nbsp;</p>

<p>High standards are important when you help package beverages for
global and local brands. This includes <strong>food
safety&nbsp;</strong> and also strong <strong>ethics</strong>, good
<strong>corporate governance&nbsp;</strong> and the right
environmental and <strong>sustainability&nbsp;</strong> approach.
These are fundamental parts of our culture and built into our daily
working practices at Sidel.</p>

<p>&nbsp;</p>

<p>Sidel is committed to being the most innovative, responsive and
reliable partner to beverage producers globally. We strive to
create the tailored solution that caters precisely to their needs,
creating the value they seek to meet today's contradictory demands.
We do this by offering modular solutions that are easily adaptable
to market developments and future technology. Solutions comprising
world-class equipment, services and people. Solutions that deliver
product quality, flexibility, reliability, lower costs and brand
impact. All at the same time. Now and in the future. Globally and
locally. Without compromise.</p>

<p>&nbsp;</p>

<p>We call it <strong>A Better Match.</strong></p>

<p>&nbsp;</p>


                <footer class="article-content-footer">

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>                </footer>
		    </div>





    <aside class="article-sidebar">











    </aside>
        <style>
            .article-content
            {
                width:950px;
            }
        </style>











	    </div>


		<div class="article-previews">
			<ul>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/about-sidel/contact">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/840789/contact3-thumbnail.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>How can we help?</h2>
						    <p>
<p>If you are an existing customer and have an urgent need for
technical...
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/about-sidel/media">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4589879/sidel-press_-events-thumb.png&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>NEWS, PRESS &amp; EVENTS</h2>
						    <p>What’s new at Sidel
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  no-margin">
                        <a href="http://www.sidel.com/about-sidel/events">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4351454/sidel-events.png&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Events</h2>
						    <p>Where are the next events taking place?
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                        <li class="clearfix"></li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/about-sidel/sustainability">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4581852/sidel-sustainability.png&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>SUSTAINABILITY</h2>
						    <p>A part of everything we do
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/about-sidel/more-about-sidel">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4589874/more-about-sidel-thumb.png&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>More about Sidel</h2>
						    <p>A Better Match, History, Organisation, Facts & Figures and the Tetra Laval group
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  no-margin">
                        <a href="http://www.sidel.com/about-sidel/global-references">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4351759/sidel-global-references.png&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Global references</h2>
						    <p>The latest stories about our customers
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                        <li class="clearfix"></li>
				<li class="ghost-last">
				</li>
			</ul>
		</div>





    @@include('../components/widget-sidelinks.html')

    </div>

      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




        <!-- End Main Content -->

        <!-- JAVASCRIPT -->
@@include('../components/doc-bottom.html')
