@@include('../components/doc-head.html',{
  "title" : "Contact Us"
})

    <body id="EN" class="Dokument wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


      @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/about-sidel" class="first">About Sidel</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/media" >
                                Media
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/events" >
                                Events
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/sustainability" >
                                Sustainability
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/more-about-sidel" >
                                More about Sidel
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/global-references" >
                                Global References
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/careers" >
                                Careers
                            </a>
                        </li>
                        <li class=" odd last selected">
                            <a href="http://www.sidel.com/about-sidel/contact" >
                                Contact
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/about-sidel/contact" class="">Contact</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/contact/north-america" >
                                North America
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/contact/latin-america" >
                                Latin America
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia" >
                                Europe &amp; Central Asia
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa" >
                                Greater Middle East &amp; Africa
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/contact/greater-china" >
                                Greater China
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific" >
                                South East Asia Pacific
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content"  >

			    <h1 class="article-title">How can we help?</h1>
			    <h2 class="article-subtitle"> </h2>


<p>If you are an existing customer and have an urgent need for
technical support, please contact your local customer services
manager. If you are not sure who that is, please use the technical
assistance or other contact details listed under the location links
on the right of this page.</p>

<p>&nbsp;</p>

<p>You can send a message to Sidel directly by using the form
below.</p>

<p>&nbsp;</p>

<div id="wufoo-z7x3p9">
Fill out our <a href="http://sidel.wufoo.com/forms/z7x3p9">online form</a>.
</div>
<script type="text/javascript">var z7x3p9;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'sidel',
'formHash':'z7x3p9',
'autoResize':true,
'height':'1471',
'async':true,
'header':'hide',
'ssl':false};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<p>﻿﻿</p>

<p>﻿﻿</p>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">





    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">
CONTACT US        </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/about-sidel/contact/north-america">North America</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/about-sidel/contact/north-america/california-transparency-in-supply-chains-" class="">California Transparency in Supply Chains Act</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/north-america/general-conditions-of-contract-–-services" class="">General Conditions of Contract – Services</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/about-sidel/contact/latin-america">Latin America</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/argentina" class="">Argentina</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/brazil" class="">Brazil</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/mexico" class="">Mexico</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/panama" class="">Panama</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia">Europe &amp; Central Asia</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/france" class="">France</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/germany" class="">Germany</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/italy" class="">Italy</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/russia" class="">Russia</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/spain" class="">Spain</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/switzerland" class="">Switzerland</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/united-kingdom" class="">United Kingdom</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/general-terms-and-conditions-of-purchase" class="">General Terms and Conditions of Purchase </a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa">Greater Middle East &amp; Africa</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa/maghreb" class="">Maghreb</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa/united-arab-emirates" class="">United Arab Emirates</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa/south-africa" class="">South Africa</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/about-sidel/contact/greater-china">Greater China</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/about-sidel/contact/greater-china/beijing" class="">Beijing</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/greater-china/guangzhou" class="">Guangzhou</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/greater-china/shanghai" class="">Shanghai</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific">South East Asia Pacific</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/india" class="">India</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/indonesia" class="">Indonesia</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/japan" class="">Japan</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/malaysia" class="">Malaysia</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/philippines" class="">Philippines</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/thailand" class="">Thailand</a></li>
                                    <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/vietnam" class="">Vietnam</a></li>
                            </ul>
                    </li>
            </ul>
        </div>
    </div>




        <div class="sidel-widget sidebar-widget-image-link" style="">
            <img src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5686430/24_7_assistance_right-sidejpg.jpg" alt="24/7 assistance" />
        </div>


    </aside>











	    </div>


	    <!-- ARTICLE BODY END -->

        <!-- Right Social Icons -->

        @@include('../components/widget-sidelinks.html')

        </div>

          <!-- End content-->


          <!-- Start footer -->
          @@include('../components/page-footer.html')
          <!-- End footer -->
        </main>




        <!-- End Main Content -->

        @@include('../components/doc-bottom.html')
