@@include('../components/doc-head.html')

    <body id="EN" class="Sektion wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/about-sidel" class="first">About Sidel</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/media" >
                                Media
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/events" >
                                Events
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/sustainability" >
                                Sustainability
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/more-about-sidel" >
                                More about Sidel
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/global-references" >
                                Global References
                            </a>
                        </li>
                        <li class=" selected">
                            <a href="http://www.sidel.com/about-sidel/careers" >
                                Careers
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/about-sidel/contact" >
                                Contact
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/about-sidel/careers" class="">Careers</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/careers/working-at-sidel" >
                                Working at Sidel
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/careers/what-you-can-expect" >
                                What you can expect
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/careers/our-people" >
                                Our people
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/careers/commitment-to-the-world-" >
                                Commitment to the world
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/about-sidel/careers/job-opportunities" >
                                Job opportunities
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content"  >
        <figure class="article-image">
                <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/6288831/sidelpeoplemosaic_top_new.jpg&amp;width=600&amp;compression=80&amp;altimage=images/white-short.jpg" alt="peoplemosaic_top"/>



        </figure>

			    <h1 class="article-title">Careers</h1>
			    <h2 class="article-subtitle"> Your chance to make a difference in an international dynamic company</h2>


<p>A career at Sidel opens the doors to a global business
environment full of opportunities for unrivalled growth where you
can make a real difference. We believe in making Sidel a great
place to work by empowering people and giving them the
responsibility and the ownership to do amazing things.</p>

<p>&nbsp;</p>

<p>Whether our people are field service engineers, technicians,
researchers, product managers, bio-technologists, IT experts,
packaging designers, financial controllers, communication
specialists, receptionists, customer-facing sales professionals or
customer-service support personnel, we all work together as a team
to develop innovative and sustainable packaging solutions for all
types of beverages. We are the best in the world at developing
equipment and services that create beverage bottles made of the
strong, fully recyclable and safe plastic material called PET that
benefits our planet and creates great experiences for people around
the world.</p>

<p>&nbsp;</p>



    <ul class="toggle-content" data-closeall="Close All ▲" data-openall="Open All ▼">

        <li class="per-all allclose">
                <h4 style="width: 80%; display: block; text-align: left; color: #555555; font-weight: bold; font-size: 18px; margin: 0px; cursor: default !important; padding-left: 3px;">At Sidel, diversity matters</h4>
            <h4 class="openall" style="width:20%;display:inline-block;position:absolute;bottom:0px;right:15px;">
                <span class="headline">Open All ▼</span>
            </h4>
        </li>

            <li class="per-content ">
                <h4 class="trigger">
                    <span class="headline">Gender equality</span>
                    <span class="subheadline">&nbsp;</span>
                </h4>
                <div class="content">
                    <p>
<p>We are actively committed to and have achieved a continual
narrowing of the gender gap.</p>

<p>&nbsp;<img src="http://sidel.com/media/6288858/gender-equality_en_500x224.jpg"  width="500"  height="224" alt="gender equality" style="display: block; margin-left: auto; margin-right: auto;"/></p>

<p>&nbsp;</p>

<p>Our management at GLT-1 level comprises 14% women.</p>

<p><img src="http://sidel.com/media/6288863/diversity_glt_en_491x80.jpg"  width="491"  height="80" alt="Gender equality_ GLT" style="display: block; margin-left: auto; margin-right: auto;"/></p>
</p>
                </div>
            </li>
            <li class="per-content ">
                <h4 class="trigger">
                    <span class="headline">Age</span>
                    <span class="subheadline">&nbsp;</span>
                </h4>
                <div class="content">
                    <p>
<p>We are strong mix of experienced and young people.</p>

<p><img src="http://sidel.com/media/6288868/average-employee-age_en_500x94.jpg"  width="500"  height="94" alt="age" style="display: block; margin-left: auto; margin-right: auto;"/ data-disable-lightbox="1" style="cursor:auto;"></p>
</p>
                </div>
            </li>
            <li class="per-content ">
                <h4 class="trigger">
                    <span class="headline">Nationalities</span>
                    <span class="subheadline">&nbsp;</span>
                </h4>
                <div class="content">
                    <p>
<p><br />
 <img src="http://sidel.com/media/6288873/world_map_en_300x214.jpg"  width="300"  height="214" alt="nationalities" style="float: right; margin-left: 30px;"/ data-disable-lightbox="1" style="cursor:auto;"></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>We are a multinational company reflecting Sidel's international
presence, our people represent 65 nationalities. Our top management
comprises 13 nationalities.</p>
</p>
                </div>
            </li>
            <li class="per-content ">
                <h4 class="trigger">
                    <span class="headline">Employement duration</span>
                    <span class="subheadline">&nbsp;</span>
                </h4>
                <div class="content">
                    <p>
<p>Our people are here for long term.</p>

<p><img src="http://sidel.com/media/6288878/average-stay_493x135.jpg"  width="493"  height="135" alt="employment duration" style="display: block; margin-left: auto; margin-right: auto;"/ data-disable-lightbox="1" style="cursor:auto;"></p>
</p>
                </div>
            </li>

        <li class="per-all allclose">
            <h4 class="openall">
                <span class="headline">Open All ▼</span>
            </h4>
        </li>
    </ul>



<p>&nbsp;</p>

<p>Learn more about&nbsp;<a
href="/media/6275023/sidel_careers_brochure_en.pdf"
title="Careers at Sidel">our world our people and
ourselves.</a>&nbsp;The average length of time employees are with
the company is currently more than eleven years.</p>

<p>&nbsp;</p>

<p>Do you want to be part of an international team that values
diversity, creativity and the common goal to make a difference?
Then learn more about us and watch the video below.</p>

<p>&nbsp;</p>

<div class="rte-video"><iframe width="540" height="304" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/ibUXxyulZhU?wmode=opaque&amp;rel=0&amp;enablejsapi=1"> </iframe></div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">





            <div class="sidel-widget sidebar-widget-list-links">
                <h3 class="widget-title">
                    <a href="http://www.sidel.com/about-sidel/careers">Careers</a>
                </h3>
                <div class="widget-body">
                    <ul>

                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/careers/working-at-sidel">Working at Sidel</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/careers/what-you-can-expect">What you can expect</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/careers/our-people">Our people</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/careers/commitment-to-the-world-">Commitment to the world </a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/careers/job-opportunities">Job opportunities</a>
                                <span class="btn-toggle"></span>
                            </li>
                    </ul>
                </div>
            </div>






    </aside>











	    </div>


	    <!-- ARTICLE BODY END -->

        <!-- Right Social Icons -->

        @@include('../components/widget-sidelinks.html')

      </div>

          <!-- End content-->


          <!-- Start footer -->
          @@include('../components/page-footer.html')
          <!-- End footer -->
        </main>




        <!-- End Main Content -->

    @@include('../components/doc-bottom.html')
