@@include('../components/doc-head.html',{
  "title" : "Contact Local Area"
})

    <body id="EN" class="Dokument wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/about-sidel" class="first">About Sidel</a>

            <span class="breadcrumb-separator">
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/media" >
                                Media
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/events" >
                                Events
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/sustainability" >
                                Sustainability
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/more-about-sidel" >
                                More about Sidel
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/global-references" >
                                Global References
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/careers" >
                                Careers
                            </a>
                        </li>
                        <li class=" odd last selected">
                            <a href="http://www.sidel.com/about-sidel/contact" >
                                Contact
                            </a>
                        </li>
                </ul>
            </div>

    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/about-sidel/contact" class="">Contact</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd selected">
                            <a href="http://www.sidel.com/about-sidel/contact/north-america" >
                                North America
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/contact/latin-america" >
                                Latin America
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia" >
                                Europe &amp; Central Asia
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa" >
                                Greater Middle East &amp; Africa
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/contact/greater-china" >
                                Greater China
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific" >
                                South East Asia Pacific
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/about-sidel/contact/north-america" class="">North America</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/contact/north-america/california-transparency-in-supply-chains-" >
                                California Transparency in Supply...
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/about-sidel/contact/north-america/general-conditions-of-contract-–-services" >
                                General Conditions of Contract –...
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content"  >
        <figure class="article-image">
                <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5701845/sidel-contact-page5.png&amp;width=600&amp;compression=80&amp;altimage=images/white-short.jpg" alt="sidel-contact-page"/>


                <div id="main-image-text-container">
                    <div id="main-image-text">

<p><strong>SPARE PARTS SALES &amp;<br />
</strong> <strong>24/7&nbsp;TECHNICAL ASSISTANCE</strong></p>

<p>During business hours: Please<br />
 contact your Customer Service Manager<br />
 Nights/weekends: +1 678 221 3200<br />
 Spare parts shipment availability: 24/7</p>

<p><a
href="mailto:vickie.stevens@sidel.com">vickie.stevens@sidel.com</a></p>

<p><a href="mailto:vickie.stevens@sidel.com"></a>&nbsp;&nbsp;</p>

<p><strong>SALES &amp; MARKETING</strong></p>

<p>Stephane Hacpille</p>

<p>Tel: +1 678 221 3095<br />
 <a
href="mailto:Stephane.Hacpille@sidel.com">Stephane.Hacpille@sidel.com</a></p>

<p>&nbsp;</p>

<p><strong>MAIN SWITCHBOARD</strong><br />
 +1 678 221 3000</p>

<p>&nbsp;</p>

                    </div>
                </div>

        </figure>

			    <h1 class="article-title">North America</h1>
			    <h2 class="article-subtitle"> How can we help?

</h2>


<p>See technical assistance and sales details above, find contact
details for the Marketing &amp; Business Development Director below
or follow the links on the right for local offices.</p>

<p>&nbsp;</p>

<p>Stephane Hacpille</p>

<p>Marketing &amp; Business Development Director</p>

<p>Sidel Inc.</p>

<p class="p1">5600 Sun Ct NW&nbsp;&nbsp;Norcross, GA 30092</p>

<p>Tel: +1 678 221 3095<br />
 <a href="mailto:stephane.hacpille@sidel.com"
target="_blank">stephane.hacpille@sidel.com</a></p>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">





            <div class="sidel-widget sidebar-widget-list-links">
                <h3 class="widget-title">
                    <a href="http://www.sidel.com/about-sidel/contact">Contact</a>
                </h3>
                <div class="widget-body">
                    <ul>

                            <li class="current has-sub active">
                                <a href="http://www.sidel.com/about-sidel/contact/north-america">North America</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list open">
                                            <li><a href="http://www.sidel.com/about-sidel/contact/north-america/california-transparency-in-supply-chains-" class="">California Transparency in Supply Chains Act</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/north-america/general-conditions-of-contract-–-services" class="">General Conditions of Contract – Services</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/contact/latin-america">Latin America</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/argentina" class="">Argentina</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/brazil" class="">Brazil</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/mexico" class="">Mexico</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/latin-america/panama" class="">Panama</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia">Europe &amp; Central Asia</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/france" class="">France</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/germany" class="">Germany</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/italy" class="">Italy</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/russia" class="">Russia</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/spain" class="">Spain</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/switzerland" class="">Switzerland</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/united-kingdom" class="">United Kingdom</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia/general-terms-and-conditions-of-purchase" class="">General Terms and Conditions of Purchase </a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa">Greater Middle East &amp; Africa</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa/maghreb" class="">Maghreb</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa/united-arab-emirates" class="">United Arab Emirates</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa/south-africa" class="">South Africa</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/contact/greater-china">Greater China</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/about-sidel/contact/greater-china/beijing" class="">Beijing</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/greater-china/guangzhou" class="">Guangzhou</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/greater-china/shanghai" class="">Shanghai</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific">South East Asia Pacific</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/india" class="">India</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/indonesia" class="">Indonesia</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/japan" class="">Japan</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/malaysia" class="">Malaysia</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/philippines" class="">Philippines</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/thailand" class="">Thailand</a></li>
                                            <li><a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific/vietnam" class="">Vietnam</a></li>
                                    </ul>
                            </li>
                    </ul>
                </div>
            </div>






    </aside>











	    </div>


<!-- ARTICLE BODY END -->

<!-- Right Social Icons -->

@@include('../components/widget-sidelinks.html')

</div>

  <!-- End content-->


  <!-- Start footer -->
  @@include('../components/page-footer.html')
  <!-- End footer -->
</main>




<!-- End Main Content -->

@@include('../components/doc-bottom.html')
