@@include('../components/doc-head.html',{
  "title" : "Events"
})
    <body id="EN" class="Dokumentliste wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/about-sidel" class="first">About Sidel</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/media" >
                                Media
                            </a>
                        </li>
                        <li class=" selected">
                            <a href="http://www.sidel.com/about-sidel/events" >
                                Events
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/sustainability" >
                                Sustainability
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/more-about-sidel" >
                                More about Sidel
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/about-sidel/global-references" >
                                Global References
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/about-sidel/careers" >
                                Careers
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/about-sidel/contact" >
                                Contact
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/about-sidel/events" class="">Events</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/about-sidel/events/2015" >
                                2015
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/about-sidel/events/2014" >
                                2014
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->







    <div class="page-content">
        <!-- START ARTICLE FILTER -->
        <div class="article-filter ">
            <div class="article-content page-width float-none">
                <br/>
                <h1 class="article-title">
                    Events
                </h1>

                <h2 class="article-subtitle">
                    Where are the next events taking place?
                </h2>



            </div>

                <!-- Filters -->
    <div style="clear:both;"></div>
    <div class="filters page-width">
        <div>


        </div>
    </div>

        </div>

    <div class="article-previews">
        <div id="document-list" class="events"></div>
        <div id="article-repo" style="display:inline-block;">
                    <h2 class="article-group-title clearfix">
                        UPCOMING EVENTS
                    </h2>
    <span class="article-item" style="" id="article-32466">
        <a href="http://www.sidel.com/about-sidel/events/2015/asia/cbst-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/asia/cbst-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5457307/cbst_china_small.jpg&amp;width=299&amp;height=140" alt="CBST 2015" />
            <h3>CBST 2015</h3>
            <p>
                4-6 November - Shanghai, China
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-32909">
        <a href="http://www.sidel.com/about-sidel/events/2015/asia/propak-east-africa-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/asia/propak-east-africa-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5470357/pace_asia_2015_logo_small.jpg&amp;width=299&amp;height=140" alt="PACE Asia 2015" />
            <h3>PACE Asia 2015</h3>
            <p>
                3 - 5 November - Singapore, Singapore

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
                        <div class="clearfix past-event-topline"></div>
                    <h2 class="article-group-title clearfix">
                        PAST EVENTS
                    </h2>
    <span class="article-item" style="" id="article-34006">
        <a href="http://www.sidel.com/about-sidel/events/2015/america/expo-pack-mexico-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/america/expo-pack-mexico-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5715931/expopack_mexico_logo_small.jpg&amp;width=299&amp;height=140" alt="Expo Pack Mexico 2015" />
            <h3>Expo Pack Mexico 2015</h3>
            <p>
                16-19 June - Mexico City, Mexico

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-33101">
        <a href="http://www.sidel.com/about-sidel/events/2015/africa/iran-food-plus-bev-tec" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/africa/iran-food-plus-bev-tec',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5611017/iran-foodbev-tech-logo_small.jpg&amp;width=299&amp;height=140" alt="Iran Food + Bev Tec" />
            <h3>Iran Food + Bev Tec</h3>
            <p>
                26 - 29 May - Tehran, Iran


                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-33736">
        <a href="http://www.sidel.com/about-sidel/events/2015/asia/bevtec-asia-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/asia/bevtec-asia-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5644598/bevtec-asia-2015-logo_small.jpg&amp;width=299&amp;height=140" alt="bevtec Asia 2015" />
            <h3>bevtec Asia 2015</h3>
            <p>
                6-8 May – Bangkok, Thailand
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-33878">
        <a href="http://www.sidel.com/about-sidel/events/2015/africa/value-creation-day-pakistan,2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/africa/value-creation-day-pakistan,2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5707366/generalkeyvisual_small.jpg&amp;width=299&amp;height=140" alt="Value Creation Day Pakistan,2015" />
            <h3>Value Creation Day Pakistan,2015</h3>
            <p>
                5th May - Lahore, Pakistan


                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-32460">
        <a href="http://www.sidel.com/about-sidel/events/2015/america/international-sleeve-label-conference-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/america/international-sleeve-label-conference-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5686887/awa_logo_small.png&amp;width=299&amp;height=140" alt="International Sleeve Label Conference 2015" />
            <h3>International Sleeve Label Conference 2015</h3>
            <p>
                29-30 April - Miami, USA

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-32905">
        <a href="http://www.sidel.com/about-sidel/events/2015/africa/djazagro" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/africa/djazagro',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5470041/djazagro_logo_small.jpg&amp;width=299&amp;height=140" alt="DJAZAGRO" />
            <h3>DJAZAGRO</h3>
            <p>
                20 – 23 April- Algiers, Algeria


                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-32465">
        <a href="http://www.sidel.com/about-sidel/events/2015/asia/knowledgeshare-chengdu" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/asia/knowledgeshare-chengdu',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5592973/knowledgeshare-2015-kv_logo_small.jpg&amp;width=299&amp;height=140" alt="KNOWLEDGEshare Chengdu" />
            <h3>KNOWLEDGEshare Chengdu</h3>
            <p>
                24-25 March – The Ritz Carlton, Chengdu, China
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-32455">
        <a href="http://www.sidel.com/about-sidel/events/2015/africa/propak-east-africa-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2015/africa/propak-east-africa-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5443487/propak_africa_2015_small.png&amp;width=299&amp;height=140" alt="PROPAK East Africa 2015" />
            <h3>PROPAK East Africa 2015</h3>
            <p>
                17 – 19 March - Nairobi, Kenya

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-30091">
        <a href="http://www.sidel.com/about-sidel/events/2014/europe/knowledgeshare-dubai-2015" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/europe/knowledgeshare-dubai-2015',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4946062/logo_2015_small.jpg&amp;width=299&amp;height=140" alt="KNOWLEDGEshare Dubai 2015" />
            <h3>KNOWLEDGEshare Dubai 2015</h3>
            <p>
                10 -11 FEBRUARY - CONRAD HOTEL, DUBAI
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-29377">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/drink-tec-indonesia-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/drink-tec-indonesia-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4846564/logo_small2.jpg&amp;width=299&amp;height=140" alt="Drink Tec Indonesia 2014" />
            <h3>Drink Tec Indonesia 2014</h3>
            <p>
                19-22 November, Jakarta - Indonesia
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-29034">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/gulfood-manufacturing" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/gulfood-manufacturing',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4803894/sidel-gulfood-manufacturing-dubai.jpg&amp;width=299&amp;height=140" alt="Gulfood Manufacturing" />
            <h3>Gulfood Manufacturing</h3>
            <p>
                9-11 November, Dubai – United Arab Emirates
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-29378">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/pace-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/pace-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4828666/paceasia2014_small300140.jpg&amp;width=299&amp;height=140" alt="PACE 2014" />
            <h3>PACE 2014</h3>
            <p>
                4-6 November, Singapore - Singapore
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-28721">
        <a href="http://www.sidel.com/about-sidel/events/2014/europe/ehedg-world-congress" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/europe/ehedg-world-congress',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4791297/sidel-ehedg-congress-small.jpg&amp;width=299&amp;height=140" alt="EHEDG World Congress" />
            <h3>EHEDG World Congress</h3>
            <p>
                30-31 October, Parma - Italy
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-29430">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/china-brew-beverage-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/china-brew-beverage-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4846629/china-bew2014_small.jpg&amp;width=299&amp;height=140" alt="China Brew &amp; Beverage 2014" />
            <h3>China Brew &amp; Beverage 2014</h3>
            <p>
                13-16 October, Beijing - China

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-28726">
        <a href="http://www.sidel.com/about-sidel/events/2014/europe/industrial-processing" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/europe/industrial-processing',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4791542/sidel-industrial-processing.jpg&amp;width=299&amp;height=140" alt="Industrial processing" />
            <h3>Industrial processing</h3>
            <p>
                30 September - 3 October, Utrecht - The Netherlands
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-29376">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/drink-technology-india-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/drink-technology-india-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4828676/drink-technology-india-logo-newsmall.jpg&amp;width=299&amp;height=140" alt="Drink Technology India 2014" />
            <h3>Drink Technology India 2014</h3>
            <p>
                25-27 September, Mumbai - India

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-28533">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/propak-myanmar-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/propak-myanmar-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4625403/sidel_propak_myanmar.png&amp;width=299&amp;height=140" alt="ProPak Myanmar 2014" />
            <h3>ProPak Myanmar 2014</h3>
            <p>
                4-6 September, Yangon - Myanmar
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-26757">
        <a href="http://www.sidel.com/about-sidel/events/2014/europe/aseptipak-europe-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/europe/aseptipak-europe-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3625541/sidel_aseptipak-europe.jpg&amp;width=299&amp;height=140" alt="Aseptipak Europe 2014" />
            <h3>Aseptipak Europe 2014</h3>
            <p>
                June 18 - 19, Warsaw - Poland
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-26750">
        <a href="http://www.sidel.com/about-sidel/events/2014/america/expo-pack-mexico" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/america/expo-pack-mexico',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3587697/sidel_expopack-mexico.jpg&amp;width=299&amp;height=140" alt="Expo Pack M&#233;xico" />
            <h3>Expo Pack M&#233;xico</h3>
            <p>
                June 17 – 20, 2014, Mexico City - Mexico

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-26755">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/asia-drink-conference-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/asia-drink-conference-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3657778/sidel-asia-drink-conference-2014.png&amp;width=299&amp;height=140" alt="Asia Drink Conference 2014" />
            <h3>Asia Drink Conference 2014</h3>
            <p>
                13 June, Bangkok - Thailand
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-26754">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/propak-asia-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/propak-asia-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3657609/sidel-propak-asia-2014.png&amp;width=299&amp;height=140" alt="ProPak Asia 2014" />
            <h3>ProPak Asia 2014</h3>
            <p>
                11-14 June, Bangkok - Thailand
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-26749">
        <a href="http://www.sidel.com/about-sidel/events/2014/america/international-sleeve-label-conference" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/america/international-sleeve-label-conference',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3485631/sleeve_label_conference.png&amp;width=299&amp;height=140" alt="International Sleeve Label Conference" />
            <h3>International Sleeve Label Conference</h3>
            <p>
                April 29-30, 2014, Cincinatti, Ohio - USA

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="" id="article-26745">
        <a href="http://www.sidel.com/about-sidel/events/2014/africa/djazagro-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/africa/djazagro-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/1522087/sidel-djazagro.jpg&amp;width=299&amp;height=140" alt="DjazAgro 2014" />
            <h3>DjazAgro 2014</h3>
            <p>
                21-24 April, Algiers - Algeria
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="article-item" style="margin-right:0px" id="article-26746">
        <a href="http://www.sidel.com/about-sidel/events/2014/africa/juice-africa-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/africa/juice-africa-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3505610/juiceafrica.jpg&amp;width=299&amp;height=140" alt="Juice Africa 2014" />
            <h3>Juice Africa 2014</h3>
            <p>
                08-10 April, Cape Town - South Africa
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
    <span class="article-item" style="" id="article-26753">
        <a href="http://www.sidel.com/about-sidel/events/2014/asia/knowledgeshare-2014" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/asia/knowledgeshare-2014',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3504334/knowledgeshare-sanya-2014.jpg&amp;width=299&amp;height=140" alt="KNOWLEDGEshare 2014" />
            <h3>KNOWLEDGEshare 2014</h3>
            <p>
                KnowledgeShare Sanya, which is to be held on March 27-28, is organized in association with Sidel...
                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>

    <span class="article-item" style="" id="article-26751">
        <a href="http://www.sidel.com/about-sidel/events/2014/america/the-packaging-conference" onclick="_gaq.push(['_trackEvent', 'Events C2A', 'Click', 'http://www.sidel.com/about-sidel/events/2014/america/the-packaging-conference',, false]);">
                <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/3335366/packaging-conference-sidel-for-web.jpg&amp;width=299&amp;height=140" alt="The Packaging Conference" />
            <h3>The Packaging Conference</h3>
            <p>
                February 3 – 5, 2014, Orlando, Florida - USA

                <span class="link-icon"></span>
            </p>

            <span class="date">
            </span>

                <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />

        </a>
    </span>
    <span class="clearfix"></span>
        </div>


    </div>



    @@include('../components/widget-sidelinks.html')

    </div>

      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




        <!-- End Main Content -->

        <!-- JAVASCRIPT -->
@@include('../components/doc-bottom.html')
