@@include('../components/doc-head.html',{
  "title" : "Blowing"
})
    <body id="EN" class="Dokument wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/equipment" class="first">Equipment</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd selected">
                            <a href="http://www.sidel.com/equipment/blowing" >
                                Blowing
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/dry-preform-decontamination" >
                                Dry preform decontamination
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/filling" >
                                Filling
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/blowing-filling-capping-system" >
                                Blowing-filling-capping system
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/labelling" >
                                Labelling
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/end-of-line-solutions" >
                                End of line solutions
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/complete-lines" >
                                Complete lines
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/equipment/sidel-matrix" >
                                Sidel Matrix
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/equipment/blowing" class="">Blowing</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" >
                                Sidel Matrix Blower
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                SBO Universal2eco
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco" >
                                SBO Highspeedeco
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/blowing/sbo-universaleco-hr" >
                                SBO Universaleco HR
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" >
                                SBO Universal PH
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content"  >
        <figure class="article-image">
                <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4613918/blower_top_picture_1.jpg&amp;width=600&amp;compression=80&amp;altimage=/images/white-short.jpg" alt="Blowing top picture 1"/>



        </figure>

			    <h1 class="article-title">A BLOW MOULDING SOLUTION ADAPTED TO YOUR BEVERAGE</h1>
			    <h2 class="article-subtitle"> Benefit from our 30 years of experience in PET blow moulding</h2>


<p>Beverage producers need sustainable liquid packaging solutions
that deliver product quality, flexibility, reliability, lower costs
and brand impact. With Sidel, you can benefit from our decades of
experience with PET and blowing to get tailored solution that cater
precisely to your needs</p>

<p>Resistant and transparent, PET offers alternatives for bottle
shapes and formats as well as unprecedented lightweighting
possibilities.</p>

<p>&nbsp;</p>

<p><strong>Fully customisable</strong></p>

<p>We strive to create the tailored solution that caters precisely
to your needs, creating the value you need to meet today's every
increasing demands. Our blow moulder offers solutions for whichever
format, output and processes you desire.</p>

<p>&nbsp;</p>

<p><strong><a id="The flexible, more competitive choice"
name="The flexible, more competitive choice"></a>The flexible, more
competitive choice</strong></p>

<p>All Sidel blow moulders are available not only for standalone
machines but also in Combi configuration: a combined <a
href="http://www.sidel.com/equipment/blowing-filling-capping-system"
title="Blowing-filling-capping System">blowing-filling-capping
solution</a>&nbsp;that offers a competitive alternative to
traditional lines.</p>

<p>&nbsp;</p>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">

         <div class="sidel-widget sidebar-widget-contact">
		    <h3 class="widget-title">
                <a href="mailto:blowing-expert@sidel.com?subject=Contact%20our%20Specialist%20in%20Blowing&amp;body=Please%20indicate%20your%20country%20that%20we%20can%20reply%20faster%20to%20your%20request:" title="CONTACT" target=_blank>
                    CONTACT OUR SPECIALIST
                </a>
		    </h3>
	    </div>




            <div class="sidel-widget sidebar-widget-list-links">
                <h3 class="widget-title">
                    <a href="http://www.sidel.com/equipment/blowing">Blowing</a>
                </h3>
                <div class="widget-body">
                    <ul>

                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower">Sidel Matrix Blower</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco">SBO Universal2eco</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco">SBO Highspeedeco</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/equipment/blowing/sbo-universaleco-hr">SBO Universaleco HR</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph">SBO Universal PH</a>
                                <span class="btn-toggle"></span>
                            </li>
                    </ul>
                </div>
            </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">
OUR EQUIPMENT SOLUTIONS FOR YOU        </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/filling">Filling</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">Blowing-filling-capping system</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/end-of-line-solutions">End of line solutions</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/conveying" class="">Conveying </a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/wrapping-packing" class="">Wrapping &amp; Packing</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/palletising,-depalletising" class="">Palletising, Depalletising</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/crating-and-decrating-" class="">Crating and Decrating </a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/complete-lines">Complete lines</a>
                        <span class="btn-toggle"></span>
                    </li>
            </ul>
        </div>
    </div>






    </aside>











	    </div>


	    <!-- ARTICLE BODY END -->

        <!-- Right Social Icons -->

        @@include('../components/widget-sidelinks.html')
        <!-- Category links -->



        <div class="article-previews previews-type-lists blowing-solution-page">
			<h2>Discover the blowing solution for your liquid type</h2>
			<ul>
                    <li class="article-item ">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-water-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782076/water1-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-water-bottles">STILL WATER &amp; SPARKLING WATER</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco" target=_blank>
                                            <p>
                                                0.2 litre -0.75 litre <br />
50,400 - 71,400 bph
                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" >
                                            <p>
                                                0.1 litre - 3 litres<br />
2,500 - 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres<br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                    <li class="article-item ">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-csd-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782056/icetea-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-csd-bottles">CSD</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1litre - 3 litres<br />
22,500 - 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres<br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco" >
                                            <p>
                                                0.2 litre - 0.75 litre <br />
50,400 - 71,400 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                    <li class="article-item no-margin">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-jnsdit-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782061/juice2-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-jnsdit-bottles">Juices, teas and isotonic drinks</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1 litre - 3 litres<br />
22,500 - 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres <br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universaleco-hr" >
                                            <p>
                                                Hot filled or pasteurised bottles<br />
0.2 litre - 2 litres<br />
10,800 - 51,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                        <li class="clearfix"></li>
                    <li class="article-item ">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-ldp-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782066/milk2-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-ldp-bottles">Milk and dairy products</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1 litre - 3 litres <br />
22,500 - 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres <br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                    <li class="article-item ">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-beer-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4792335/beer2-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-beer-bottles">Beer</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1 litre - 3 litres<br />
22,500 - 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres<br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                    <li class="article-item no-margin">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-wine-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782081/sidel_equipment_blowing_wines-spirits_300x140.png') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-wine-bottles">Wines and spirits</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1 litre - 3 litres<br />
22,500 - 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres <br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" >
                                            <p>
                                                Complex and asymetrical bottles<br />
0.2 litre - 2 litres<br />
8,400 - 28,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                        <li class="clearfix"></li>
                    <li class="article-item ">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-oil-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782071/ketchup-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-oil-bottles">Oils, sauces and condiments</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1 litre - 3 litres<br />
22,500 to 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres <br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" >
                                            <p>
                                                Complex and asymetrical bottles<br />
0.2 litre -2 litres<br />
8,400 - 28,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
                    <li class="article-item ">
                        <div class="box">

                                <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-hpc-bottles" style="background: url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/4782051/shampoo-300x140.jpg') no-repeat left;overflow: hidden;height: 140px;background-size:cover;cursor:pointer;"><img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""></a>
                                    <h2><a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-hpc-bottles">Household products, cosmetics and pharmaceuticals</a></h2>

							<ul>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" target=_blank>
                                            <p>
                                                0.1 litre - 3 litres<br />
22,500 to 54,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" >
                                            <p>
                                                0.2 litre - 3 litres <br />
13,200 - 66,000 bph

                                            </p>
								        </a>
								    </li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" >
                                            <p>
                                                Complex and asymetrical bottles<br />
0.2 litre- 2 litres<br />
8,400 - 28,000 bph

                                            </p>
								        </a>
								    </li>
							</ul>
                        </div>
					</li>
            </ul>
        </div>






        <!-- Bottom Widgets -->
        <div class="article-bottom-widgets">
            <div class="bottom-container">



                <div class="sidel-widget article-related-videos">
                    <h3 class="widget-title">Videos</h3>
                    <div class="widget-body">
                            <a href="http://www.sidel.com/about-sidel/media/sidel-tv/sidel-matrix">
                                <figure class="video-thumb">
									<img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2692436/sidel_matrix_overview.png&amp;width=125&amp;height=58" alt="thumbnail"/>
									<img class="icon-video-play" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/images/bg-video-box-icon.png" alt="play"/>
								</figure>

                                <span class="article-related-videos-title">Sidel Matrix</span>
                            </a>
                            <a href="http://www.sidel.com/about-sidel/media/sidel-tv/sbo-universal2-eco">
                                <figure class="video-thumb">
									<img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/138864/vi_-sbo_universal2_eco.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
									<img class="icon-video-play" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/images/bg-video-box-icon.png" alt="play"/>
								</figure>

                                <span class="article-related-videos-title">SBO Universal2 Eco</span>
                            </a>
                            <a href="http://www.sidel.com/about-sidel/media/sidel-tv/combi-matrix-complete-line-for-csd">
                                <figure class="video-thumb">
									<img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2682003/sidel_combi_matrix_complete_line.png&amp;width=125&amp;height=58" alt="thumbnail"/>
									<img class="icon-video-play" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/images/bg-video-box-icon.png" alt="play"/>
								</figure>

                                <span class="article-related-videos-title">Combi Matrix Complete Line for CSD</span>
                            </a>
                    </div>
                </div>


            </div>
        </div>
        <div style="clear:both;"></div>
    </div>












      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




        <!-- End Main Content -->

          @@include('../components/doc-bottom.html')
