@@include('../components/doc-head.html')

    <body id="EN" class="Dokument wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->
        <!-- Initialization -->


        @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/services" class="first">Services</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/services/maintenance" >
                                Maintenance
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/services/line-improvement" >
                                Line improvement
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/services/training" >
                                Training
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/services/spare-parts-logistics" >
                                Spare Parts &amp; Logistics
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/services/line-conversions-moulds" >
                                Line Conversions &amp; Moulds
                            </a>
                        </li>
                        <li class=" selected">
                            <a href="http://www.sidel.com/services/packaging" >
                                Packaging
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/services/a-little-bit-more" >
                                A Little Bit More
                            </a>
                        </li>
                </ul>
            </div>

    </li>
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/services/packaging" class="">Packaging</a>

            <span class="breadcrumb-separator">
                <img src="images/breadcrumb-separator.jpg" alt=""/>
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd selected">
                            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design" >
                                Packaging and preform design
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/services/packaging/packaging-optimisation" >
                                Packaging optimisation
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/services/packaging/packaging-qualification" >
                                Packaging qualification
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/services/packaging/liquid-package-interaction-analysis" >
                                Liquid-package interaction analysis
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design" class="">Packaging and preform design</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/sidel-rightweight" >
                                Sidel RightWeight
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/starlite-still" >
                                Sidel StarLite Still
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/sidel-starlite-csd" >
                                Sidel StarLite CSD
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/innovative-bottles" >
                                Innovative bottles
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/pet-beer-bottle" >
                                PET Beer Bottle
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content"  >
        <figure class="article-image">
                <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5606704/packaging-and-preform-design_lp_top.jpg&amp;width=600&amp;compression=80&amp;altimage=/images/white-short.jpg" alt="Packaging and preform design top"/>



        </figure>

			    <h1 class="article-title">Packaging &amp; Preform Design</h1>
			    <h2 class="article-subtitle"> Turn your creative ideas into an industrial reality	</h2>


<p>Consumers look for interesting bottle shapes and format sizes
that fit their lifestyles. And based on your insights,
specifications, supply chain conditions and product goals, we can
help you design a package in line with your brand. A bottle that is
ergonomic, durable and unique.</p>

<p>&nbsp;</p>

<p><strong>Our capabilities include:</strong></p>

<ul>
<li>Conceptual design - bottle drafts and digital mock-ups</li>

<li>Technical design - all parts of the bottle and preform</li>

<li>Prototypes - 3D printed physical models</li>
</ul>

<p>&nbsp;</p>

<p style="text-align: left;"><strong>Why your packaging should be
made of PET</strong></p>

<p><strong><img src="http://www.sidel.com/media/5614701/packaging-optimisation_weight_200x250.jpg"  width="200"  height="250" alt="weight_packaging_optimisation" style="float: right; margin-left: 30px;"/></strong>PET offers great freedom of shape, which
can help create a standout brand. It can also be moulded into
single-serve, multi-serve or extended-family formats. Consumers
like the convenience, re-sealability and recyclability of PET.
Meanwhile, you will appreciate the environmental and cost-saving
benefits it delivers.</p>

<p>&nbsp;</p>

<p><strong><br />
 Preforms: Cut an extra 15% off the weight</strong></p>

<p>Sidel has redesigned the standard preform with a 26/22 neck
finish in order to cut an extra 15% off the weight. With lighter
preforms and shorter necks, we can help you save costs while
maintaining bottle performance and ensuring a strong consumer
experience.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div><strong><br />
</strong></div>

<div><strong><br />
</strong></div>

<div><strong><br />
</strong></div>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">

         <div class="sidel-widget sidebar-widget-contact">
		    <h3 class="widget-title">
                <a href="mailto:services@sidel.com?subject=Sidel%20Services%20request%20&amp;body=Please%20indicate%20your%20country%20so%20that%20we%20can%20reply%20faster%20to%20your%20request." title="CONTACT" target=_blank>
                    CONTACT OUR EXPERTS
                </a>
		    </h3>
	    </div>




            <div class="sidel-widget sidebar-widget-list-links">
                <h3 class="widget-title">Packaging</h3>
                <div class="widget-body">
                    <ul>

                            <li class="current has-sub active">
                                <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design">Packaging and preform design</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list open">
                                            <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/sidel-rightweight" class="">Sidel RightWeight</a></li>
                                            <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/starlite-still" class="">Sidel StarLite Still</a></li>
                                            <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/sidel-starlite-csd" class="">Sidel StarLite CSD</a></li>
                                            <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/innovative-bottles" class="">Innovative bottles</a></li>
                                            <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/pet-beer-bottle" class="">PET Beer Bottle</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/services/packaging/packaging-optimisation">Packaging optimisation</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/services/packaging/packaging-qualification">Packaging qualification</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/services/packaging/liquid-package-interaction-analysis">Liquid-package interaction analysis</a>
                                <span class="btn-toggle"></span>
                            </li>
                    </ul>
                </div>
            </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">CHOOSE YOUR SERVICES</h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/maintenance">Maintenance</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/maintenance/maintenance-agreements" class="">Maintenance agreements</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/technical-and-field-support" class="">Technical and field support</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/diagnostic-visits" class="">Diagnostic Visits</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/asset-management" class="">Asset Management</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/line-improvement">Line improvement</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/line-improvement/remote-data-analysis" class="">Remote data analysis</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/line-audits" class="">Line Audits</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/options-and-upgrades" class="">Options &amp; Upgrades</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/second-hand-equipment" class="">Second-hand Equipment</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/training">Training</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/training/training-programmes-and-solutions" class="">Training programmes and solutions</a></li>
                                    <li><a href="http://www.sidel.com/services/training/competence-audits" class="">Competence audits</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/spare-parts-logistics">Spare Parts &amp; Logistics</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/original-sidel-spare-parts" class="">Original Sidel spare parts</a></li>
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/global-logistics-and-delivery" class="">Global logistics and delivery</a></li>
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/intelligent-replacement" class="">Intelligent replacement</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/line-conversions-moulds">Line Conversions &amp; Moulds</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/line-conversions-moulds/line-conversions" class="">Line conversions</a></li>
                                    <li><a href="http://www.sidel.com/services/line-conversions-moulds/original-sidel-moulds" class="">Original Sidel moulds</a></li>
                            </ul>
                    </li>
            </ul>
        </div>
    </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">CHOOSE YOUR EQUIPMENT </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing">Blowing</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" class="">Sidel Matrix Blower</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" class="">SBO Universal2eco</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco" class="">SBO Highspeedeco</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universaleco-hr" class="">SBO Universaleco HR</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" class="">SBO Universal PH</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/filling">Filling</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">Blowing-filling-capping system</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/end-of-line-solutions">End of line solutions</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/conveying" class="">Conveying </a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/wrapping-packing" class="">Wrapping &amp; Packing</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/palletising,-depalletising" class="">Palletising, Depalletising</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/crating-and-decrating-" class="">Crating and Decrating </a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/complete-lines">Complete lines</a>
                        <span class="btn-toggle"></span>
                    </li>
            </ul>
        </div>
    </div>






    </aside>











	    </div>


	    <!-- ARTICLE BODY END -->

        <!-- Right Social Icons -->

    <aside id="widget-side-links">
            <ul class="site-links">
                        <li><a href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up"  class="newsletter-icon" title="Newsletter sign up">
                            <img src="http://www.sidel.com/media/4845341/email-icon.png" width="28" height="28" alt="http://www.sidel.com/about-sidel/contact/newsletter-sign-up"/>
                        </a></li>

                    <li><a href="http://blog.sidel.com/" target="_blank"><img src="http://www.sidel.com/media/3764476/icon-footer-link-sidel.png" width="28" height="28" title="Go to the Sidel Blog" class="hastip" alt="" /></a></li>
                    <li><a href="http://blog.knowledgeshare.com" target="_blank"><img src="http://www.sidel.com/media/3764481/icon-footer-link-yellow-arrow.png" width="28" height="28" title="Visit the KNOWLEDGEshare blog" class="hastip" alt="" /></a></li>
            </ul>

            <ul class="social-links">
                    <li><a href="https://www.facebook.com/SidelInternational" target="_blank"><img src="http://www.sidel.com/media/3764786/icon-footer-social-facebook.png" width="28" height="28" alt="https://www.facebook.com/SidelInternational" /></a></li>
                    <li><a href="http://www.linkedin.com/company/sidel" target="_blank"><img src="http://www.sidel.com/media/3764791/icon-footer-social-linkedin.png" width="28" height="28" alt="http://www.linkedin.com/company/sidel" /></a></li>
                    <li><a href="https://twitter.com/Sidel_Intl" target="_blank"><img src="http://www.sidel.com/media/3764796/icon-footer-social-twitter.png" width="28" height="28" alt="https://twitter.com/Sidel_Intl" /></a></li>
                    <li><a href="http://www.youtube.com/user/sidel" target="_blank"><img src="http://www.sidel.com/media/3764801/icon-footer-social-youtube.png" width="28" height="28" alt="http://www.youtube.com/user/sidel" /></a></li>

            </ul>
    </aside>
        <!-- Category links -->









        <!-- Bottom Widgets -->
        <div class="article-bottom-widgets">
            <div class="bottom-container">



    <div class="sidel-widget article-preview equipments">
        <h3 class="widget-title">PACKAGING & PREFORM DESIGN</h3>
        <div class="widget-body">
                <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/innovative-bottles">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/840865/innovative_bottles.jpeg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-title">Innovative bottles</span>
                    <span class="article-preview-body">Stand out with PET – discover our latest innovative bottle designs
</span>
                </a>
                <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design/sidel-rightweight">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2866781/sidel-rightweight-3-bottles.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-title">Sidel RightWeight</span>
                    <span class="article-preview-body">Sidel’s new RightWeight 0.5 litre bottle for still water weighs just 7.95 grams, yet offers a...</span>
                </a>
        </div>
    </div>
    <div class="sidel-widget article-preview global-reference">
        <h3 class="widget-title">Global references: Packaging</h3>
        <div class="widget-body">
                <a href="http://www.sidel.com/about-sidel/global-references/innomex,-mexico" onclick="_gaq.push(['_trackEvent', 'Global References C2A', 'Click','http://www.sidel.com/about-sidel/global-references/innomex,-mexico',, false]);">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5606354/innomex_bottles_small.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-body">
                        <strong>Innomex, Mexico</strong>
                    </span>
                </a>
                <a href="http://www.sidel.com/about-sidel/global-references/tannourine-water" onclick="_gaq.push(['_trackEvent', 'Global References C2A', 'Click','http://www.sidel.com/about-sidel/global-references/tannourine-water',, false]);">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5469083/tannourine_lebanon_bottles_small.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-body">
                        <strong>Tannourine Water, Lebanon</strong>
                        <br />
                        <span class="global-reference-tag">Water</span>
                    </span>
                </a>
                <a href="http://www.sidel.com/about-sidel/global-references/knjaz-milos-serbia" onclick="_gaq.push(['_trackEvent', 'Global References C2A', 'Click','http://www.sidel.com/about-sidel/global-references/knjaz-milos-serbia',, false]);">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/3621751/sidel_knjazmilos_serbia_singlebottle_web.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-body">
                        <strong>Knjaz Milos, Serbia</strong>
                        <br />
                        <span class="global-reference-tag">Water</span>
                    </span>
                </a>
        </div>
    </div>


















            </div>
        </div>
        <div style="clear:both;"></div>
    </div>












      <!-- End content-->


      <!-- Start footer -->





    <footer class="footer with-nl" id="main-footer">
        <div class="highlights">
            <ul class="page-width">
                    <li>
                    	<a href="http://www.sidel.com/equipment" class="col-orange">
                            <figure class="highlight-image">
                                <img class="lazy" data-src="http://www.sidel.com/media/3764644/img-footer-highlights-item-1.png" width="197" height="156" alt="Portfolio" />
                            </figure>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li>
                    	<a href="http://www.sidel.com/about-sidel/global-references" class="col-orange">
                            <figure class="highlight-image">
                                <img class="lazy" data-src="http://www.sidel.com/media/3764649/img-footer-highlights-item-2.png" width="197" height="156" alt="References" />
                            </figure>
                            <span>References</span>
                        </a>
                    </li>
                    <li>
                    	<a href="http://www.sidel.com/about-sidelhttp://www.sidel.com/media/inline-magazine" class="col-orange">
                            <figure class="highlight-image">
                                <img class="lazy" data-src="http://www.sidel.com/media/4784344/img-footer-highlights-il7_2.png" width="197" height="156" alt="Magazine" />
                            </figure>
                            <span>Magazine</span>
                        </a>
                    </li>
                    <li>
                    	<a href="http://www.sidel.com/about-sidelhttp://www.sidel.com/media/sidel-tv" class="col-orange">
                            <figure class="highlight-image">
                                <img class="lazy" data-src="http://www.sidel.com/media/3764664/img-footer-highlights-item-4.png" width="197" height="156" alt="Videos" />
                            </figure>
                            <span>Videos</span>
                        </a>
                    </li>
                <li class="ghost-last"></li>
            </ul>
        </div>
        <div class="colophon">
            <ul class="page-width">
                <li class="footer-about">
                    <h2>
                            <a href="http://www.sidel.com/about-sidel" >
                                About Sidel
                            </a>

                    </h2>
                    <p>Sidel is the leading global provider of PET solutions for liquid packaging. We are committed to being an innovative, responsive and reliable partner, providing sustainable solutions for the beverage industry.</p>
                </li>

                    <li class="nl-cntr">
                         <div class="nl-box">
                            <div class="nl-header">
                                <h2>
                                    STAY UPDATED WITH OUR LATEST NEWS
                                </h2>
                            </div>
                            <div class="nl-text">
                                <div class="text">
                                    Get our newsletter with the latest industry knowledge directly in your mailbox
                                </div>
                                <div class="mail-icon">
                                    <img src="images/email-icon.png" width="33" height="22" alt="mail"/>
                                </div>
                            </div>
                            <div class="nl-orng-txt">
                                    <a class="newsletter-signup-now" href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up" >SIGN UP NOW<span class="link-icon"></span></a>
                            </div>
                        </div>
                    </li>

                <li class="footer-logo">
                    <a href="/"><img src="images/logo-footer.png" alt="logo"/></a>
                </li>
            </ul>
        </div>
        <div class="social">
            <ul class="page-width">
                <li class="footer-title" style="padding-left:0px;">Connect with us</li>

                        <li><a href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up"  class="newsletter-icon" title="Newsletter sign up">
                                <img src="http://www.sidel.com/media/4845341/email-icon.png" width="28" height="28" alt="newsletter" />
                        </a></li>

                    <li><a href="http://blog.sidel.com/" target="_blank"><img src="http://www.sidel.com/media/3764476/icon-footer-link-sidel.png" width="28" height="28" title="Go to the Sidel Blog" class="hastip" alt="blog" /></a></li>
                    <li><a href="http://blog.knowledgeshare.com" target="_blank"><img src="http://www.sidel.com/media/3764481/icon-footer-link-yellow-arrow.png" width="28" height="28" title="Visit the KNOWLEDGEshare blog" class="hastip" alt="blog" /></a></li>

                    <li><a href="https://www.facebook.com/SidelInternational" target="_blank"><img src="http://www.sidel.com/media/3764786/icon-footer-social-facebook.png" width="28" height="28"  alt="social" /></a></li>
                    <li><a href="http://www.linkedin.com/company/sidel" target="_blank"><img src="http://www.sidel.com/media/3764791/icon-footer-social-linkedin.png" width="28" height="28"  alt="social" /></a></li>
                    <li><a href="https://twitter.com/Sidel_Intl" target="_blank"><img src="http://www.sidel.com/media/3764796/icon-footer-social-twitter.png" width="28" height="28"  alt="social" /></a></li>
                    <li><a href="http://www.youtube.com/user/sidel" target="_blank"><img src="http://www.sidel.com/media/3764801/icon-footer-social-youtube.png" width="28" height="28"  alt="social" /></a></li>

                    <li class="footer-links-horizontal">
                        <ul>
                                <li>
                                    <a href="http://www.sidel.com/about-sidel/contact">Contact</a>
                                </li>
                                <li>
                                    <a href="http://www.sidel.com/legal-notice">Legal notice</a>
                                </li>
                                <li>
                                    <a href="http://www.sidel.com/about-sidel/more-about-sidel/the-tetra-laval-group">The Tetra Laval group</a>
                                </li>
                                <li>
                                    <a href="http://www.sidel.com/login">Login</a>
                                </li>
                                <li>
                                    <a href="http://www.sidel.com/about-sidel/sitemap">Sitemap</a>
                                </li>
                        </ul>

                    </li>
            </ul>

        </div>
    </footer>


      <!-- End footer -->
    </main>




        <!-- End Main Content -->

@@include('../components/doc-bottom.html')
