@@include('../components/doc-head.html',{
  "title" : "Water"
})
    <body id="EN" class="Dokument wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="">
        <a href="http://www.sidel.com/your-liquids" class="first">Your beverages</a>

            <span class="breadcrumb-separator">
            </span>

            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd selected">
                            <a href="http://www.sidel.com/your-liquids/water" >
                                Water
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/your-liquids/juices,-nectars,-soft-drinks,-isotonics,-teas" >
                                Juices, Nectars, Soft Drinks,...
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/your-liquids/carbonated-soft-drinks-(csd)" >
                                Carbonated Soft Drinks (CSD)
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/your-liquids/liquid-dairy-products" >
                                Liquid Dairy Products
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/your-liquids/beer" >
                                Beer
                            </a>
                        </li>
                </ul>
            </div>

    </li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/your-liquids/water" class="">Water</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/your-liquids/water/line-flexibility" >
                                Line flexibility
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/your-liquids/water/product-integrity" >
                                Product integrity
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/your-liquids/water/production-efficiency" >
                                Production efficiency
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/your-liquids/water/consumption-reduction" >
                                Consumption reduction
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/your-liquids/water/water-solutions" >
                                Water solutions
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/your-liquids/water/book-a-meeting" >
                                Book a meeting
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content"  >
        <figure class="article-image">
                <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2713466/600x244-water.jpg&amp;width=600&amp;compression=80&amp;altimage=/images/white-short.jpg" alt="Water landing page"/>



        </figure>

			    <h1 class="article-title">Water</h1>
			    <h2 class="article-subtitle"> Do you want to ensure your water production line does not come up short?</h2>


<p>Across the globe, water represents a constantly developing
beverage. The growing population is increasingly able to access and
afford bottled water, and consumer trends are evolving all the
time, both locally and worldwide. With that come many challenges
for water producers, as well as many opportunities. &nbsp;</p>

<p>&nbsp;</p>

<div class="rte-video"><iframe width="540" height="304" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/tEnU1kaOli8?wmode=opaque&amp;rel=0&amp;enablejsapi=1"> </iframe></div>

<p>&nbsp;</p>

<p><strong>What consumers demand and you need</strong></p>

<p>Consumers depend on water for life and well-being. They are
increasingly health-conscious, and demand safe drinking water that
is packaged hygienically. They also look for bottle shapes that
differentiate an otherwise standard commodity, convenient
'on-the-go' formats that are easy to handle and transport, and a
brand they can trust - a brand that gives them more value for
money.<br />
 &nbsp;</p>

<p>Here at Sidel, we understand that you have needs too. You need
the line flexibility to meet changing consumer needs and
differentiate your brand. However, you also require the production
reliability to provide a consistently safe high-quality output, use
limited resources more efficiently, and excel in an increasingly
competitive marketplace.</p>

<p>&nbsp;</p>

<p><strong>The solution is A Better Match</strong></p>

<p><br />
 While it may seem impossible <img src="http://sidel.com/media/2702821/sidel_water_bottles_benefits_en_250x255.jpg"  width="250"  height="255" alt="Water bottles benefits EN" style="float: right; margin-left: 30px;"/>to&nbsp;get two contradictory things like
flexibility and reliability at once, we give you a Better Match of
both.</p>

<p><br />
 A Better Match is our answer to your water line production needs
and gives you the solution to these contradictory requirements.</p>

<p>With our proven expertise, we can do more for your water bottle
production line than ever before.</p>

<p>When it comes to bottling water, we realise that most of your
costs are related to the bottle itself, and overall efficiency is
the key to your profitability. So, with our Sidel Matrix system, we
can help you challenge all your cost restraints and maximise your
earning potential by providing more value-added possibilities and
results based on our proven expertise. We call them <strong>proven
possibilities</strong>. &nbsp;</p>

<ul>
<li><a href="http://www.sidel.com/your-liquids/water/line-flexibility" title="Line flexibility">Line
flexibility:</a>&nbsp;brand differentiation through unique designs
and versatile production</li>

<li><a href="http://www.sidel.com/your-liquids/water/product-integrity" title="Product integrity">Product
integrity:</a> consistently safe, high quality packaging</li>

<li><a href="http://www.sidel.com/your-liquids/water/production-efficiency"
title="Production efficiency">Production efficiency:</a> fast and
efficient production with optimal uptime</li>

<li><a href="http://www.sidel.com/your-liquids/water/consumption-reduction"
title="Reduction of consumption">Consumption reduction:</a> less
materials and energy required</li>
</ul>

<p>Discover what each of the proven possibilities can do for your
water bottle production line.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">



            <div class="sidel-widget sidebar-widget-book-meeting">
			    <h3 class="widget-title">Book a meeting</h3>
			    <div class="widget-body">
				    <p>
					    Meet us to learn more about what Sidel's water solutions can do for you.

                                <a href="http://www.sidel.com/your-liquids/water/book-a-meeting" title="Let&#39;s meet">Let&#39;s meet</a>
				    </p>
			    </div>
		    </div>


            <div class="sidel-widget sidebar-widget-list-links">
                <h3 class="widget-title">
                    <a href="http://www.sidel.com/your-liquids/water">Water</a>
                </h3>
                <div class="widget-body">
                    <ul>

                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/your-liquids/water/line-flexibility">Line flexibility</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/your-liquids/water/line-flexibility/flexible-solutions" class="">Flexible solutions</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/your-liquids/water/product-integrity">Product integrity</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/your-liquids/water/product-integrity/safety-and-quality" class="">Safety and quality</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/your-liquids/water/production-efficiency">Production efficiency</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/your-liquids/water/production-efficiency/output-and-uptime" class="">Output and uptime</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/your-liquids/water/consumption-reduction">Consumption reduction</a>
                                <span class="btn-toggle"></span>
                                    <ul class="sub-list ">
                                            <li><a href="http://www.sidel.com/your-liquids/water/consumption-reduction/lightweighting" class="">Lightweighting</a></li>
                                            <li><a href="http://www.sidel.com/your-liquids/water/consumption-reduction/reduced-operational-consumption" class="">Reduced operational consumption</a></li>
                                    </ul>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/your-liquids/water/water-solutions">Line solutions for water</a>
                                <span class="btn-toggle"></span>
                            </li>
                            <li class=" has-sub ">
                                <a href="http://www.sidel.com/your-liquids/water/book-a-meeting">Book a meeting</a>
                                <span class="btn-toggle"></span>
                            </li>
                    </ul>
                </div>
            </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">
BLOWING MACHINES FOR         </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-water-bottles">Water </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-csd-bottles">CSD </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-jnsdit-bottles">JNSDIT </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-beer-bottles">Beer </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-ldp-bottles">LDP </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-wine-bottles">Wine </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-oil-bottles">Oil </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing/blowing-machines-for-hpc-bottles">HPC </a>
                        <span class="btn-toggle"></span>
                    </li>
            </ul>
        </div>
    </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">
LABELLING MACHINES FOR         </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-water-bottles">Water </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-csd-bottles">Carbonated Soft Drinks</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-beer-bottles">Beer </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-juices,-teas-and-sport-drinks">Juices, Teas and Sport Drinks</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-wine-and-spirits">Wine and spirits</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-liquid-dairy-products">Liquid Dairy Products</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-oil-bottles">Oil </a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-household-and-personal-care-product-bottles">Household and Personal Care products</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling/labelling-machines-for-chemicals-and-pharmaceuticals">Chemicals and pharmaceuticals</a>
                        <span class="btn-toggle"></span>
                    </li>
            </ul>
        </div>
    </div>






    </aside>











	    </div>


	    <!-- ARTICLE BODY END -->

        <!-- Right Social Icons -->

    @@include('../components/widget-sidelinks.html')
        <!-- Category links -->









        <!-- Bottom Widgets -->
        <div class="article-bottom-widgets">
            <div class="bottom-container">



    <div class="sidel-widget article-preview global-reference">
        <h3 class="widget-title">Global references</h3>
        <div class="widget-body">
                <a href="http://www.sidel.com/about-sidel/global-references/nestle-waters-france" onclick="_gaq.push(['_trackEvent', 'Global References C2A', 'Click','http://www.sidel.com/about-sidel/global-references/nestle-waters-france',, false]);">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2836077/sidel_nestle_waters_sud_france_bottle.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-body">
                        <strong>Nestl&#233; Waters, France</strong>
                        <br />
                        <span class="global-reference-tag">Water</span>
                    </span>
                </a>
                <a href="http://www.sidel.com/about-sidel/global-references/niagara-usa" onclick="_gaq.push(['_trackEvent', 'Global References C2A', 'Click','http://www.sidel.com/about-sidel/global-references/niagara-usa',, false]);">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2836124/sidel_niagara_usa_line.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-body">
                        <strong>Niagara, USA</strong>
                        <br />
                        <span class="global-reference-tag">Water</span>
                    </span>
                </a>
                <a href="http://www.sidel.com/about-sidel/global-references/spritzer,-malaysia" onclick="_gaq.push(['_trackEvent', 'Global References C2A', 'Click','http://www.sidel.com/about-sidel/global-references/spritzer,-malaysia',, false]);">
                    <figure class="article-thumb">
                        <img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2836194/sidel_spritzer_malaysia_bottles.jpg&amp;width=125&amp;height=58" alt="thumbnail"/>
                    </figure>
                    <span class="article-preview-body">
                        <strong>Spritzer, Malaysia</strong>
                        <br />
                        <span class="global-reference-tag">Water</span>
                    </span>
                </a>
        </div>
    </div>
                <div class="sidel-widget article-downloads article-download-pdf">
					<h3 class="widget-title">Downloads</h3>

<div class="widget-body"><ul class="article-download-body">                            <li><a href="http://sidel.com/media/2720912/water_brochure_en.pdf" target="_blank">Water brochure</a></li>
                            <li><a href="http://sidel.com/media/2738458/sidel_seab_in_inline_5_en.pdf" target="_blank">Reference SEAB, France</a></li>
                            <li><a href="http://sidel.com/media/2738455/sidel_henri_attias_interview_in_inline_5_en.pdf" target="_blank">Water-expert interview</a></li>
</ul>


                        </div>
				</div>
                <div class="sidel-widget article-related-videos">
                    <h3 class="widget-title">Videos</h3>
                    <div class="widget-body">
                            <a href="http://www.sidel.com/about-sidel/media/sidel-tv/pet-water-bottling-solutions">
                                <figure class="video-thumb">
									<img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2733311/water_bottling_solutions.png&amp;width=125&amp;height=58" alt="thumbnail"/>
									<img class="icon-video-play" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/images/bg-video-box-icon.png" alt="play"/>
								</figure>

                                <span class="article-related-videos-title">PET water bottling solutions</span>
                            </a>
                            <a href="http://www.sidel.com/about-sidel/media/sidel-tv/sidel-matrix">
                                <figure class="video-thumb">
									<img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2692436/sidel_matrix_overview.png&amp;width=125&amp;height=58" alt="thumbnail"/>
									<img class="icon-video-play" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/images/bg-video-box-icon.png" alt="play"/>
								</figure>

                                <span class="article-related-videos-title">Sidel Matrix</span>
                            </a>
                            <a href="http://www.sidel.com/about-sidel/media/sidel-tv/sidel-matrix-solutions">
                                <figure class="video-thumb">
									<img src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2184975/sidel-matrix-solutions-video.gif&amp;width=125&amp;height=58" alt="thumbnail"/>
									<img class="icon-video-play" src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/images/bg-video-box-icon.png" alt="play"/>
								</figure>

                                <span class="article-related-videos-title">Sidel Matrix solutions interviews</span>
                            </a>
                    </div>
                </div>


















            </div>
        </div>
        <div style="clear:both;"></div>
    </div>












      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




        <!-- End Main Content -->

        @@include('../components/doc-bottom.html')
