<!-- document head begin -->
@@include('../components/doc-head.html')
<!-- document head end -->

<body id="EN" class="Forside wide-page " data-splash="0" data-splash-lang="">
  <!-- Main Content -->
  <main class="container">

    <!-- Header -->
    <!-- Variables -->
    <!-- Initialization -->

    @@include('../components/page-header.html')





    <!-- Header -->

    <!-- START BREADCRUMBS -->










    <!-- BREADCRUMBS END -->

    <!-- Start content -->







    <h1 style="display:none;">
      Sidel - A Better Match
    </h1>

    <!-- Sliders -->
    <div class="hero-banner">
      <div id="slideshow-hero" class="owl-carousel owl-theme " style="background: url('images/bg-banner-gradient.png') top left repeat-x;">
        <div class="item" style="background:url('images/bg-banner-gradient.png') top left repeat-x;">
          <div class="item-image lazy" data-src="http://www.sidel.com/media/6004254/top-banner-labelling.png"></div>
          <img class="" src="images/bg-banner-gradient.png" alt="" />
          <div class="texts big-link" data-href="http://www.sidel.com/equipment/labelling" data-target="_self">
            <p class="text-body" style="color:#">Whatever labels you require, our labellers can handle them all. We make sure you benefit from attractive packaging as well as sustainable and cost-efficient production. </p>
            <a class="text-more" href="http://www.sidel.com/equipment/labelling" target="_self">Read more<span><img src="images/icon-link-hover.png" alt="" /></span></a>
          </div>
        </div>
        <div class="item" style="background:url('http://www.sidel.com/media/3764376/sidel_hero_banner_services_v1_repeater.png') top left repeat-x;">
          <div class="item-image lazy" data-src="http://www.sidel.com/media/5605537/packaging_banner_top__2_.png"></div>
          <img class="" src="http://www.sidel.com/media/3764376/sidel_hero_banner_services_v1_repeater.png" alt="" />
          <div class="texts big-link" data-href="http://www.sidel.com/services/packaging" data-target="_self">
          </div>
        </div>
        <div class="item" style="background:url('http://www.sidel.com/media/3764376/sidel_hero_banner_services_v1_repeater.png') top left repeat-x;">
          <div class="item-image lazy" data-src="http://www.sidel.com/media/5605527/sidel_services_spare_parts_hero_banner.png"></div>
          <img class="" src="http://www.sidel.com/media/3764376/sidel_hero_banner_services_v1_repeater.png" alt="" />
          <div class="texts big-link" data-href="http://www.sidel.com/services/spare-parts-logistics" data-target="_self">
          </div>
        </div>

      </div>
    </div>



    <!-- Articles -->
    <div class="page-content">

      <div class="article-previews">
        <ul>
          <li class="article-item  ">
            <a href="http://www.sidel.com/services/packaging/packaging-and-preform-design">
              <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5606709/packaging-and-preform-design_lp_small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
              <h2>Packaging &amp; Preform Design</h2>
              <p>Turn your creative ideas into an industrial reality
                <span class="link-icon"></span>
              </p>

              <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />
            </a>

          </li>
          <li class="article-item  ">
            <a href="http://www.sidel.com/services/line-improvement/every-line-can-be-improved">
              <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4849276/line-improvement-lp-small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
              <h2>Every line can be improved</h2>
              <p>50% less air pressure. 20% less energy. 15% more productivity. 45% savings. What...
                <span class="link-icon"></span>
              </p>

              <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />
            </a>

          </li>
          <li class="article-item  no-margin">
            <a href="http://www.sidel.com/services/spare-parts-logistics/original-sidel-spare-parts">
              <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5605133/original-sidel-parts_small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
              <h2>Original Sidel spare parts</h2>
              <p>Assured quality for maximum uptime
                <span class="link-icon"></span>
              </p>

              <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />
            </a>

          </li>
          <li class="clearfix"></li>
          <li class="article-item  ">
            <a href="http://www.sidel.com/about-sidel/global-references/kirin,-japan">
              <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/6293004/sidel_kirin_japan_mount_fuji_small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
              <h2>Sidel line improvement service helps achieve 18% energy saving</h2>
              <p>Service results in substantial savings for PET water bottling line at Japan’s...
                <span class="link-icon"></span>
              </p>

              <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />
            </a>

          </li>
          <li class="article-item has-readmore ">
            <a href="http://www.sidel.com/about-sidel/events/2015/asia/propak-east-africa-2015">
              <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5470357/pace_asia_2015_logo_small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
              <h2>PACE Asia 2015</h2>
              <p>3 - 5 November - Singapore, Singapore

                <span class="link-icon"></span>
              </p>

              <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />
            </a>

            <a class="text-more" href="http://www.sidel.com/about-sidel/events">More events</a>
          </li>
          <li class="article-item has-readmore no-margin">
            <a href="http://www.sidel.com/about-sidelhttp://www.sidel.com/media/press-releases/2015/eco-vadis">
              <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/6407947/eco_vadis_small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
              <h2>Sidel’s CSR rating places it among top 30% of companies</h2>
              <p>The commitment that Sidel is making in terms of CSR has been independently evaluated
                <span class="link-icon"></span>
              </p>

              <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt="" />
            </a>

            <a class="text-more" href="http://www.sidel.com/about-sidel/media">More news</a>
          </li>
          <li class="clearfix"></li>
          <li class="ghost-last">
          </li>
        </ul>
      </div>



      <aside id="widget-side-links">
        <ul class="site-links">
          <li>
            <a href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up" class="newsletter-icon" title="Newsletter sign up">
              <img src="http://www.sidel.com/media/4845341/email-icon.png" width="28" height="28" alt="http://www.sidel.com/about-sidel/contact/newsletter-sign-up" />
            </a>
          </li>

          <li>
            <a href="http://blog.sidel.com/" target="_blank">
              <img src="http://www.sidel.com/media/3764476/icon-footer-link-sidel.png" width="28" height="28" title="Go to the Sidel Blog" class="hastip" alt="" />
            </a>
          </li>
          <li>
            <a href="http://blog.knowledgeshare.com" target="_blank">
              <img src="http://www.sidel.com/media/3764481/icon-footer-link-yellow-arrow.png" width="28" height="28" title="Visit the KNOWLEDGEshare blog" class="hastip" alt="" />
            </a>
          </li>
        </ul>

        <ul class="social-links">
          <li>
            <a href="https://www.facebook.com/SidelInternational" target="_blank">
              <img src="http://www.sidel.com/media/3764786/icon-footer-social-facebook.png" width="28" height="28" alt="https://www.facebook.com/SidelInternational" />
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/company/sidel" target="_blank">
              <img src="http://www.sidel.com/media/3764791/icon-footer-social-linkedin.png" width="28" height="28" alt="http://www.linkedin.com/company/sidel" />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Sidel_Intl" target="_blank">
              <img src="http://www.sidel.com/media/3764796/icon-footer-social-twitter.png" width="28" height="28" alt="https://twitter.com/Sidel_Intl" />
            </a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/sidel" target="_blank">
              <img src="http://www.sidel.com/media/3764801/icon-footer-social-youtube.png" width="28" height="28" alt="http://www.youtube.com/user/sidel" />
            </a>
          </li>

        </ul>
      </aside>
    </div>

    <!-- Service Banners -->





    <div class="services-banner">
      <div id="slideshow-services" class="owl-carousel owl-theme">
        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5611178/complete_lines_wo_ppl_1200_488.jpg" alt="">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <h2>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </h2>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>

        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5447810/blowing_banner2-1200px.jpg" alt="Blowers">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <h2>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </h2>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing" class=col-blue>
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>
        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5447815/filling_banner-1200px.jpg" alt="Fillers">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <div>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </div>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling" class=col-blue>
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>
        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5447820/combi_banner-1200px.jpg" alt="Blow-Fill-Cap solutions">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <div>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </div>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system" class=col-blue>
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>
        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5447825/labelling_banner2-1200px.jpg" alt="Labellers">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <div>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </div>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling" class=col-blue>
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>
        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5447830/eol_banner-1200px.jpg" alt="End of Line solutions">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <div>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </div>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions" class=col-blue>
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>
        <div class="item" style="background: url(images/bg-temp-frontpage-herobanner_01.jpg) top left repeat-x; height: 488px;">
          <img class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5645597/sidel_services_icons_shade.jpg" alt="Sidel Services™ ">
          <div class="slide-content">
            <div class="ie-edge-left"></div>
            <div class="content">
              <a href="http://www.sidel.com/equipment/complete-lines">
                <div>
                  <span class="col-orange">COMPLETE SOLUTIONS</span>
                  <br />
                  <span class="col-blue">FOR ALL BEVERAGES</span>
                </div>
              </a>
              <ul class="service-links">
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blowers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/labelling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Labellers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/filling">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Fillers</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">End of Line solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Blow-Fill-Cap solutions</span>
                    </a>
                  </h3>
                </li>
                <li>
                  <h3>
                    <a href="http://www.sidel.com/services" class=col-blue>
                      <span style="background-image:url('http://sidel.com/umbraco/ImageGen.ashx?compression=80&amp;image=/media/5601767/arrow2btn.png')"></span>
                      <span class="service-name">Sidel Services™ </span>
                    </a>
                  </h3>
                </li>
              </ul>


            </div>
            <div class="ie-edge-right"></div>
          </div>
        </div>


      </div>
    </div>





    <!-- Blogs -->
    <div class="blog-feed">
      <div class="sidel-blog-feed half-width">
        <a href="http://blog.sidel.com/sustainability/tested-for-success-liquid-and-packaging-perfectly-integrated/" target="_blank">
          <h2 class="col-blue">
            <span class="blog-title">SIDEL BLOG</span>
            <span class="blog-sub-title">Tested for success: Liquid and packaging perfectly integrated</span>
          </h2>
          <p>
            <span class="blog-meta">10/08/2015</span>
          </p>
          <p class="blog-excerpt">
            Find out which factors need to be considered to keep product quality and safety at its highest. The post Tested for success: Liquid and packaging perfectly...
          </p>
          <span class="col-orange seemore">See more posts</span>
        </a>

      </div>
      <div class="knowledge-blog-feed half-width">
        <a href="http://blog.knowledgeshare.com/pet/in-the-beverage-industry-its-all-about-the-choice/" target="_blank">
          <h2 class="col-blue">
            <span class="blog-title">KNOWLEDGESHARE BLOG</span>
            <span class="blog-sub-title">In the beverage industry, it’s all about the choice</span>
          </h2>
          <p>
            <span class="blog-meta">07/07/2015</span>
          </p>
          <p class="blog-excerpt">
            Having worked with packaging in the food and beverage industry for the past two...
          </p>
          <span class="col-orange seemore">See more posts</span>
        </a>
      </div>
    </div>




    <!-- End content-->


    <!-- Start footer -->





    <footer class="footer with-nl" id="main-footer">
      <div class="highlights">
        <ul class="page-width">
          <li>
            <a href="http://www.sidel.com/equipment" class="col-orange">
              <figure class="highlight-image">
                <img class="lazy" data-src="http://www.sidel.com/media/3764644/img-footer-highlights-item-1.png" width="197" height="156" alt="Portfolio" />
              </figure>
              <span>Portfolio</span>
            </a>
          </li>
          <li>
            <a href="http://www.sidel.com/about-sidel/global-references" class="col-orange">
              <figure class="highlight-image">
                <img class="lazy" data-src="http://www.sidel.com/media/3764649/img-footer-highlights-item-2.png" width="197" height="156" alt="References" />
              </figure>
              <span>References</span>
            </a>
          </li>
          <li>
            <a href="http://www.sidel.com/about-sidelhttp://www.sidel.com/media/inline-magazine" class="col-orange">
              <figure class="highlight-image">
                <img class="lazy" data-src="http://www.sidel.com/media/4784344/img-footer-highlights-il7_2.png" width="197" height="156" alt="Magazine" />
              </figure>
              <span>Magazine</span>
            </a>
          </li>
          <li>
            <a href="http://www.sidel.com/about-sidelhttp://www.sidel.com/media/sidel-tv" class="col-orange">
              <figure class="highlight-image">
                <img class="lazy" data-src="http://www.sidel.com/media/3764664/img-footer-highlights-item-4.png" width="197" height="156" alt="Videos" />
              </figure>
              <span>Videos</span>
            </a>
          </li>
          <li class="ghost-last"></li>
        </ul>
      </div>
      <div class="colophon">
        <ul class="page-width">
          <li class="footer-about">
            <h2>
              <a href="http://www.sidel.com/about-sidel">
                                About Sidel
                            </a>

            </h2>
            <p>Sidel is the leading global provider of PET solutions for liquid packaging. We are committed to being an innovative, responsive and reliable partner, providing sustainable solutions for the beverage industry.</p>
          </li>

          <li class="nl-cntr">
            <div class="nl-box">
              <div class="nl-header">
                <h2>
                  STAY UPDATED WITH OUR LATEST NEWS
                </h2>
              </div>
              <div class="nl-text">
                <div class="text">
                  Get our newsletter with the latest industry knowledge directly in your mailbox
                </div>
                <div class="mail-icon">
                  <img src="images/email-icon.png" width="33" height="22" alt="mail" />
                </div>
              </div>
              <div class="nl-orng-txt">
                <a class="newsletter-signup-now" href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up">SIGN UP NOW<span class="link-icon"></span></a>
              </div>
            </div>
          </li>

          <li class="footer-logo">
            <a href="/">
              <img src="images/logo-footer.png" alt="logo" />
            </a>
          </li>
        </ul>
      </div>
      <div class="social">
        <ul class="page-width">
          <li class="footer-title" style="padding-left:0px;">Connect with us</li>

          <li>
            <a href="http://www.sidel.com/about-sidel/contact/newsletter-sign-up" class="newsletter-icon" title="Newsletter sign up">
              <img src="http://www.sidel.com/media/4845341/email-icon.png" width="28" height="28" alt="newsletter" />
            </a>
          </li>

          <li>
            <a href="http://blog.sidel.com/" target="_blank">
              <img src="http://www.sidel.com/media/3764476/icon-footer-link-sidel.png" width="28" height="28" title="Go to the Sidel Blog" class="hastip" alt="blog" />
            </a>
          </li>
          <li>
            <a href="http://blog.knowledgeshare.com" target="_blank">
              <img src="http://www.sidel.com/media/3764481/icon-footer-link-yellow-arrow.png" width="28" height="28" title="Visit the KNOWLEDGEshare blog" class="hastip" alt="blog" />
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com/SidelInternational" target="_blank">
              <img src="http://www.sidel.com/media/3764786/icon-footer-social-facebook.png" width="28" height="28" alt="social" />
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/company/sidel" target="_blank">
              <img src="http://www.sidel.com/media/3764791/icon-footer-social-linkedin.png" width="28" height="28" alt="social" />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Sidel_Intl" target="_blank">
              <img src="http://www.sidel.com/media/3764796/icon-footer-social-twitter.png" width="28" height="28" alt="social" />
            </a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/sidel" target="_blank">
              <img src="http://www.sidel.com/media/3764801/icon-footer-social-youtube.png" width="28" height="28" alt="social" />
            </a>
          </li>

          <li class="footer-links-horizontal">
            <ul>
              <li>
                <a href="http://www.sidel.com/about-sidel/contact">Contact</a>
              </li>
              <li>
                <a href="http://www.sidel.com/legal-notice">Legal notice</a>
              </li>
              <li>
                <a href="http://www.sidel.com/about-sidel/more-about-sidel/the-tetra-laval-group">The Tetra Laval group</a>
              </li>
              <li>
                <a href="http://www.sidel.com/login">Login</a>
              </li>
              <li>
                <a href="http://www.sidel.com/about-sidel/sitemap">Sitemap</a>
              </li>
            </ul>

          </li>
        </ul>

      </div>
    </footer>


    <!-- End footer -->
  </main>




  <!-- End Main Content -->
@@include('../components/doc-bottom.html')
