@@include('../components/doc-head.html',{
  "title" : "Static Package Calculator"
})


    <body id="EN" class="Dokument wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/packaging-calculator" class="first">Packaging Calculator</a>



    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->





    <!-- Sliders -->




    <div class="page-content">
	    <!-- START ARTICLE TOP -->

	    <!-- ARTICLE TOP END -->

        <div style="clear:both;"></div>

	    <!-- START ARTICLE BODY -->
	    <div class="article-body page-width">
		    <div class="article-content" data-disable-lightbox=1 >

			    <h1 class="article-title">Calculate your bottle’s full potential</h1>
			    <h2 class="article-subtitle"> </h2>


    <style>
        .article-content
        {
            width: 950px;
        }
    </style>


    <div
        data-email-template="http://www.sidel.com/PackagingCalculatorEmail"
        data-from-name="Your bottle’s full potential"
        data-mail-subject="Sidel Services"
        data-mail-reply-to="services@sidel.com"
        data-expert-email="services@sidel.com?subject=Please help me optimise my bottle"
    >





        <div>
      <div class="calc">
        <div class="box calc-left">
          <div class="calc-container">
            <h2>Calculate my savings
              <span>Please fill in all fields to make the calculation.</span>
            </h2>
            <form id="pack-calc-form" novalidate="novalidate">
              <!-- Product type -->
              <div class="line zebra">
                <label class="field-name">BEVERAGE TYPE</label> 
                <div class="input" id="productTypeCnt" data-error-msg="Product type is required">
                  <div style="display:inline-block;">
                    <div class="iradio_flat-orange" style="position: relative;">
                      <input type="radio" name="productCategory" id="water" value="Water" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                    <label for="water" data-tip="Do you produce water or carbonated soft drinks?" class="help-tip"> Water </label>
                  </div>
                  <div style="display:inline-block;">
                    <div class="iradio_flat-orange" style="position: relative;">
                      <input type="radio" name="productCategory" id="csd" value="CSD" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                    <label for="csd" data-tip="Do you produce water or carbonated soft drinks?" class="help-tip"> Carbonated Soft Drinks (CSD) </label>
                  </div>
                </div>
              </div>
              <!-- Current bottle neck format -->
              <div class="line zebra">
                <label class="field-name">CURRENT BOTTLE NECK FORMAT</label>
                <div class="input" id="bottleNeckFormatCnt" data-error-msg="Current bottle neck format is required">
                  <div class="selectricWrapper selectric-help-tip help-tip">
                    <div class="selectricHideSelect">
                      <select name="bottleNeckFormat" data-tip="Does your bottle have a standard neck or a short neck? The international standard neck for water is 30/25 (30 mm thread diameter and 25 mm inner diameter), and 29/25 for a short neck. For CSD, a standard neck has a PCO of 1810 and PCO 1881 for a short neck (which is lighter mainly because it is shorter in height)."
                      class="help-tip">
                        <option value="">Choose your format</option>
                        <option class="option-neck-format" data-water="Standard neck for water (30/25 or larger)" data-csd="Standard neck for CSD (PCO 1810)" value="StandardNeck">Standard neck for water (30/25 or larger)</option>
                        <option class="option-neck-format" data-water="Short neck for water (29/25) " data-csd="Short neck for CSD (PCO 1881)" value="ShortNeck">Short neck for water (29/25) </option>
                      </select>
                    </div>
                    <div class="selectric">
                      <p class="label">Choose your format</p><b class="button">▾</b></div>
                    <div class="selectricItems" tabindex="-1">
                      <ul>
                        <li class="selected">Choose your format</li>
                        <li class="">Standard neck for water (30/25 or larger)</li>
                        <li class="last">Short neck for water (29/25) </li>
                      </ul>
                    </div>
                    <input class="selectricInput">
                  </div>
                </div>
              </div>
              <!-- PET COST -->
              <div class="line zebra">
                <label class="field-name">PET COSTS PER TONNE FOR BOTTLE (EUROS)</label>
                <div class="input" id="petCostPerTonForBottleCnt" data-error-msg="Use only numbers in the input field, no commas and alike">
                  <input type="text" autocomplete="off" name="petCostPerTonForBottle" placeholder="Eg. 1500" data-tip="What are your current PET costs per tonne for the bottle? If you don't know, use the average cost: 1,500 euros" value="" class="help-tip"> </div>
              </div>
              <!-- HDPE COST -->
              <div class="line zebra">
                <label class="field-name">HDPE COSTS PER TONNE FOR CAP (EUROS)</label>
                <div class="input" id="hdpeCostPerTonForCapCnt" data-error-msg="Use only numbers in the input field, no commas and alike">
                  <input type="text" autocomplete="off" name="hdpeCostPerTonForCap" placeholder="Eg. 1100" data-tip="What are your current PET costs per tonne for the cap? If you don't know, use the average cost: 1,100 euros" value="" class="help-tip"> </div>
              </div>
              <!-- Annual production hours -->
              <div class="line zebra">
                <label class="field-name">ANNUAL PRODUCTION HOURS
                  <br> (RUNNING HOURS PER YEAR)</label>
                <div class="input" id="annualProductionHoursCnt" data-error-msg="Use only numbers in the input field, no commas and alike">
                  <input type="text" autocomplete="off" name="annualProductionHours" placeholder="Eg. 4000" data-tip="Approximately how many hours of running production do you have a year? If you don't know, use an average amount: 4,000 hours" value="" class="help-tip"> </div>
              </div>
              <!-- Blower speed -->
              <div class="line zebra">
                <label class="field-name">BLOWER SPEED
                  <br> (BOTTLES PER HOUR)</label>
                <div class="input" id="blowerSpeedCnt" data-error-msg="Use only numbers in the input field, no commas and alike">
                  <input type="text" autocomplete="off" name="blowerSpeed" placeholder="Eg. 36000" data-tip="How many bottles does your blower produce an hour? If you don't know, use an average amount: 36,000 bottles" value="" class="help-tip"> </div>
              </div>
              <!-- Bottle size -->
              <div class="line zebra">
                <label class="field-name">BOTTLE SIZE (LITRES)</label>
                <div class="input" id="bottleSizeCnt" data-error-msg="Bottle size is required">
                  <div class="selectricWrapper selectric-help-tip help-tip">
                    <div class="selectricHideSelect">
                      <select name="bottleSize" data-tip="What size is the bottle being produced? Choose one of the two options." class="help-tip">
                        <option value="">Choose size</option>
                        <option value="SingleServe"> Single serve (0.5 litre) </option>
                        <option value="MultiServe"> Multi serve (2 litres) </option>
                      </select>
                    </div>
                    <div class="selectric">
                      <p class="label">Choose size</p><b class="button">▾</b></div>
                    <div class="selectricItems" tabindex="-1">
                      <ul>
                        <li class="selected">Choose size</li>
                        <li class=""> Single serve (0.5 litre) </li>
                        <li class="last"> Multi serve (2 litres) </li>
                      </ul>
                    </div>
                    <input class="selectricInput">
                  </div>
                </div>
              </div>
              <!-- Blower equipment -->
              <div class="line zebra">
                <label class="field-name">BLOWER EQUIPMENT TYPE</label>
                <div class="input" id="blowerEquipmentTypeCnt" data-error-msg="Blower equipment type is required">
                  <div class="selectricWrapper selectric-help-tip help-tip">
                    <div class="selectricHideSelect">
                      <select name="blowerEquipmentType" data-tip="Which type of blower are you using? Choose one of the four options. If you do not have a Sidel blower, choose “Other blower”. Figures for other blowers are based on Sidel Universal figures." class="help-tip">
                        <option value="">Choose equipment type</option>
                        <option value="SidelMatrix"> Sidel Matrix™ </option>
                        <option value="SidelUniversal"> Sidel Universal </option>
                        <option value="SidelSeries"> Sidel Series 2 </option>
                        <option value="OtherBlower"> Other blower </option>
                      </select>
                    </div>
                    <div class="selectric">
                      <p class="label">Choose equipment type</p><b class="button">▾</b></div>
                    <div class="selectricItems" tabindex="-1">
                      <ul>
                        <li class="selected">Choose equipment type</li>
                        <li class=""> Sidel Matrix™ </li>
                        <li class=""> Sidel Universal </li>
                        <li class=""> Sidel Series 2 </li>
                        <li class="last"> Other blower </li>
                      </ul>
                    </div>
                    <input class="selectricInput">
                  </div>
                </div>
              </div>
              <div class="line submit-button">
                <div class="input">
                  <input class="textshadow" id="pack-calc-submit" type="submit" value="CALCULATE SAVINGS">
                  <input type="hidden" name="const_Water_PetGramsSavedOnNeck" value="1.33">
                  <input type="hidden" name="const_CSD_PetGramsSavedOnNeck" value="1.19">
                  <input type="hidden" name="const_Water_HDPEGramsSavedOnCap" value="0.54">
                  <input type="hidden" name="const_CSD_HDPEGramsSavedOnCap" value="0.45">
                  <input type="hidden" name="const_Water_SingleServe_PETGramsSavedOnBottle" value="1">
                  <input type="hidden" name="const_CSD_SingleServe_PETGramsSavedOnBottle" value="1">
                  <input type="hidden" name="const_Water_MultiServe_PETGramsSavedOnBottle" value="2">
                  <input type="hidden" name="const_CSD_MultiServe_PETGramsSavedOnBottle" value="1.8">
                  <input type="hidden" name="const_Water_SingleServe_SidelSeries_EnergySaving" value="0.000337777777777778">
                  <input type="hidden" name="const_CSD_SingleServe_SidelSeries_EnergySaving" value="0.000335555555555556">
                  <input type="hidden" name="const_Water_SingleServe_SidelUniversal_EnergySaving" value="0.0000377777777777778">
                  <input type="hidden" name="const_CSD_SingleServe_SidelUniversal_EnergySaving" value="0.0000355555555555556">
                  <input type="hidden" name="const_Water_SingleServe_SidelMatrix_EnergySaving" value="0.0000711111111111111">
                  <input type="hidden" name="const_CSD_SingleServe_SidelMatrix_EnergySaving" value="0.0000688888888888889">
                  <input type="hidden" name="const_Water_MultiServe_SidelSeries_EnergySaving" value="0.000395555555555556">
                  <input type="hidden" name="const_CSD_MultiServe_SidelSeries_EnergySaving" value="0.000391111111111111">
                  <input type="hidden" name="const_Water_MultiServe_SidelUniversal_EnergySaving" value="0.000266666666666667">
                  <input type="hidden" name="const_CSD_MultiServe_SidelUniversal_EnergySaving" value="0.000264444444444444">
                  <input type="hidden" name="const_Water_MultiServe_SidelMatrix_EnergySaving" value="0.000164444444444444">
                  <input type="hidden" name="const_CSD_MultiServe_SidelMatrix_EnergySaving" value="0.000162222222222222"> </div>
              </div>
            </form>
          </div>
        </div>
        <aside class="box calc-right">
          <h3>Complete this form and click CALCULATE SAVINGS to see how much you could save with a Sidel StarLite base and a shorter neck.</h3>
          <p class="helper-note"> Click or mouse over a field to reveal tips and supporting info. </p>
        </aside>
        <div id="data-tip" data-content="TOOLTIP:" style="display: none; top: 361px; left: 620.5px;">What are your current PET costs per tonne for the cap? If you don't know, use the average cost: 1,100 euros</div>
      </div>
      </div>
    </div>
    <input id="mailbodyText" type="hidden" value="Dear Sidel packaging expert,

My location: [Please add your country here.]

I have just visited sidel.com and calculated how much I can save by optimising my bottle. My results are below. Please can you contact me to discuss how I can achieve these savings by optimising my bottle?

Thanks

PACKAGING CALCULATOR RESULTS:

Inputs:
Product type = ${Input.DisplayProductType}
Current bottleneck format = ${Input.DisplayBottleNeckFormat}
PET costs per tonne for bottles(euros) = ${Input.FmtdPETCostPerTonForBottle}
HDPE costs per tonne for cap(euros) = ${Input.FmtdHDPECostPerTonForCap}
Annual production hours(running hours per year) = ${Input.FmtdFormattedAnnualProductionHours}
Blower speed (bottles per hour) = ${Input.FmtdBlowerSpeed}
Bottle size(litres) = ${Input.DisplayBottleSize}
Blower equipment type = ${Input.DisplayEquipmentType}

Calculation Results:
PET raw material savings = ${Output.StrPETRawMaterialSavings} tonnes
HDPE raw material savings = ${Output.StrHDPERawMaterialSavings} tonnes
PET cost savings = ${Output.StrPETCostSavings} euros
HDPE cost savings = ${Output.StrHDPECostSavings} euros
Energy savings = ${Output.StrEnergySavings} euros
Total savings = ${Output.StrTotalCostSavings} euros per year" />
    <!--[if lt IE 10]> <script src="/scripts/placeholders.min.js"></script> <![endif]-->











<p>&nbsp;</p>

<p><strong>Do you know your bottle's full potential?</strong></p>

<p>Many bottles today use long necks and bottle bases that require
too much PET material. An optimised bottle with a shorter neck and
Sidel StarLite base can reduce PET throughout the package while
still being strong enough to withstand the demands of the supply
chain, look good at the point of sale and offer a great consumer
experience. This optimised bottle can also reduce costs
significantly.</p>

<p>&nbsp;</p>

<p><strong>Shorter necks</strong></p>

<p>When it comes to your packaging, short necks offer tremendous
economic gains and help reduce waste by using less PET material in
preforms and bottles, as well as less HPDE in caps. They also
maintain a great drinking experience. In our calculator for water,
we have used the international short-neck standard of 29/25 (29 mm
thread diameter and 25 mm inner diameter). Depending on your
production conditions and packaging goals, you may even be able to
utilise a 26/22 closure, as we did with the&nbsp; <a
href="/services/packaging/packaging-and-preform-design/sidel-rightweight">
Sidel RightWeight™ concept bottle</a>.</p>

<p>&nbsp;</p>

<p><strong>Sidel StarLite bases</strong></p>

<p>A stronger bottle base can allow for even greater lightweighting
possibilities backed by more stability and resistance - all without
compromising on the integrity and safety of the bottle or liquid
inside. Our Sidel StarLite bottle bases for water and carbonated
soft drinks do just that while offering your packages:</p>

<ul>
<li>More resistance to extreme temperatures (hot and cold)</li>

<li>More durability throughout the supply chain</li>

<li>More energy savings and a higher output</li>

<li>More design flexibility</li>
</ul>

<p>&nbsp;</p>

<p><strong>Is your bottle optimised?</strong></p>

<p>By simply implementing a shorter neck and new Sidel StarLite
bottle base, you can greatly improve your packaging, line
performance and savings potential. Both can be adapted to all Sidel
blowing platforms, or applied to existing production lines.
Calculate your potential savings using the calculator above
or&nbsp;<a href="mailto:"
class="contact-expert">contact</a>&nbsp;one of our experts for a
detailed consultation today.</p>

<p>&nbsp;</p>


			    <footer class="article-content-footer">
                    <!-- Share Article -->

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>			    </footer>
		    </div>

            <!-- Right Sidebar widgets -->




    <aside class="article-sidebar">











    </aside>











	    </div>


	    <!-- ARTICLE BODY END -->

        <!-- Right Social Icons -->

    @@include('../components/widget-sidelinks.html')
        <!-- Category links -->









        <!-- Bottom Widgets -->
        <div class="article-bottom-widgets">
            <div class="bottom-container">


            </div>
        </div>
        <div style="clear:both;"></div>
    </div>










      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




        <!-- End Main Content -->


        @@include('../components/doc-bottom.html')
