@@include('../components/doc-head.html')

    <body id="EN" class="Sektion wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    <header class="topbar">
        <div class="masthead page-width">



<!-- Variables -->


<!-- Initialization -->


    <nav class="topnav">
        <ul>
            <!-- Language Dropdown -->
            <li class="dropdown">
                <a href="#" id="languageMenuHover">Language/中文版</a>
                <ul id="languageMenu" data-nodename="Your liquids" data-level="2">
                    <!-- Loaded from ajax -->
                </ul>
            </li>
            <!-- End language dropdown -->

                <li>
                    	<a href="http://www.sidel.com/about-sidel/contact" >
        Contact
	</a>

                </li>
                <li>
                    	<a href="http://www.sidel.com/about-sidel/media" >
        Media
	</a>

                </li>

            <li>
                    <a href="/login/"  target=_blank >
					    Login<span style="margin-left:5px;"><img src="images/icon-lock.png" alt="lock"/></span>
				    </a>
			</li>

            <li style="width: 120px;padding: 0 0 0 10px;">
                <form id="search-form" name="search-form" method="get" action="http://www.sidel.com/search" style="position: relative;">
                    <input class="search-input" type="text" name="search">
                    <input class="search-submit" type="image" alt="søg" src="images/icon-search.png">
                </form>
            </li>
        </ul>
    </nav>



<!-- Helpers -->




            <!-- Variables -->


<!-- Initialization -->


    <nav class="menu" id="menu">
        <ul class="main-menu fouc">
            <!-- Level 1 -->
                <li class="pos-1  sub-col-3">
                    	<a href="http://www.sidel.com/about-sidel" >
        About Sidel
	</a>


                        <div class="sub-wrapper">
                            <div class="sub-menu">
                                <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/media" >
        Media
	</a>

                                                <ul class="sub-menu-level-2">
                                                    <!-- Level 3 -->
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/media/press-releases" >
        Press releases
	</a>

                                                        </li>
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/media/press-contact" >
        Press contact
	</a>

                                                        </li>
                                                </ul>
                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/events" >
        Events
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/sustainability" >
        Sustainability
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/more-about-sidel" >
        More about Sidel
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/global-references" >
        Global References
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/careers" >
        Careers
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/about-sidel/contact" >
        Contact
	</a>

                                                <ul class="sub-menu-level-2">
                                                    <!-- Level 3 -->
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/contact/north-america" >
        North America
	</a>

                                                        </li>
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/contact/latin-america" >
        Latin America
	</a>

                                                        </li>
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/contact/europe-and-central-asia" >
        Europe & Central Asia
	</a>

                                                        </li>
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/contact/greater-middle-east-and-africa" >
        Greater Middle East & Africa
	</a>

                                                        </li>
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/contact/greater-china" >
        Greater China
	</a>

                                                        </li>
                                                        <li>
                                                            	<a href="http://www.sidel.com/about-sidel/contact/south-east-asia-pacific" >
        South East Asia Pacific
	</a>

                                                        </li>
                                                </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </li>
                <li class="pos-2  sub-col-3">
                    	<a href="http://www.sidel.com/services" >
        Services
	</a>


                        <div class="sub-wrapper">
                            <div class="sub-menu">
                                <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/services/maintenance" >
        Maintenance
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/services/line-improvement" >
        Line improvement
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/services/training" >
        Training
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/services/spare-parts-logistics" >
        Spare Parts & Logistics
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/services/line-conversions-moulds" >
        Line Conversions & Moulds
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/services/packaging" >
        Packaging
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/services/a-little-bit-more" >
        A Little Bit More
	</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                </li>
                <li class="pos-3  sub-col-3">
                    	<a href="http://www.sidel.com/equipment" >
        Equipment
	</a>


                        <div class="sub-wrapper">
                            <div class="sub-menu">
                                <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/equipment/blowing" >
        Blowing
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/equipment/dry-preform-decontamination" >
        Dry preform decontamination
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/equipment/filling" >
        Filling
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/equipment/blowing-filling-capping-system" >
        Blowing-filling-capping system
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/equipment/labelling" >
        Labelling
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/equipment/end-of-line-solutions" >
        End of line solutions
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/equipment/complete-lines" >
        Complete lines
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/equipment/sidel-matrix" >
        Sidel Matrix
	</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                </li>
                <li class="pos-4  sub-col-2">
                    	<a href="http://www.sidel.com/your-liquids" >
        Your beverages
	</a>


                        <div class="sub-wrapper">
                            <div class="sub-menu">
                                <!-- Level 2 -->
<ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/your-liquids/water" >
        Water
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/your-liquids/juices,-nectars,-soft-drinks,-isotonics,-teas" >
        Juices, Nectars, Soft Drinks, Isotonics & Teas (JNSDIT)
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/your-liquids/carbonated-soft-drinks-(csd)" >
        Carbonated Soft Drinks (CSD)
	</a>

                                    </li>
</ul><ul class="sub-nav-group">                                    <li>
                                        	<a href="http://www.sidel.com/your-liquids/liquid-dairy-products" >
        Liquid Dairy Products (LDP)
	</a>

                                    </li>
                                    <li>
                                        	<a href="http://www.sidel.com/your-liquids/beer" >
        Beer
	</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                </li>
                <li class="pos-5 last sub-col-0">
                    	<a href="http://www.sidel.com/why-pet" >
        Why PET
	</a>


                </li>
        </ul>
    </nav>
<!-- Helpers -->




            <figure class="branding">
                <a href="/" id="logo">
                    <img src="images/logo.png" alt="Sidel - A better match" class="subpage-main-logo" />
                </a>
            </figure>
        </div>
        <div id="topbar-dropshadow"></div>
    </header>



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/your-liquids" class="first">Your beverages</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/your-liquids/water" >
                                Water
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/your-liquids/juices,-nectars,-soft-drinks,-isotonics,-teas" >
                                Juices, Nectars, Soft Drinks,...
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/your-liquids/carbonated-soft-drinks-(csd)" >
                                Carbonated Soft Drinks (CSD)
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/your-liquids/liquid-dairy-products" >
                                Liquid Dairy Products
                            </a>
                        </li>
                        <li class=" odd last">
                            <a href="http://www.sidel.com/your-liquids/beer" >
                                Beer
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->


            <div class="hero-banner">
            <div id="slideshow-hero" class="owl-carousel owl-theme oneitem" style="background: url('/images/bg-banner-gradient.png') top left repeat-x;">
    <div class="item" style="background:url('/images/bg-banner-gradient.png') top left repeat-x;">
        <div class="item-image lazy" data-src="http://sidel.com/media/3764718/top-yourliquids-en.png"></div>
        <img class="" src="images/bg-banner-gradient.png" alt=""/>
        <div class=texts>
                <div class="sidel-widget sidebar-widget-list-links">
                    <div class="widget-title">MOST POPULAR </div>
                    <div class="widget-body">
                        <ul>
                                <li class="has-sub"><a href="http://www.sidel.com/your-liquids/juices,-nectars,-soft-drinks,-isotonics,-teas" >Juices, Nectars, Soft Drinks, Isotonics &amp; Teas (JNSDIT)</a></li>
                                <li class="has-sub"><a href="http://www.sidel.com/your-liquids/carbonated-soft-drinks-(csd)" >Carbonated Soft Drinks (CSD)</a></li>
                                <li class="has-sub"><a href="http://www.sidel.com/your-liquids/water" >Water</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

            </div>
        </div>



    <div class="page-content">
        <div class="article-body page-width">
		    <div class="article-content">

		        <h1 class="article-title">
				    YOUR MARKETS ARE OUR FIELDS OF EXPERTISE
			    </h1>

                <h2 class="article-subtitle">
                    Sidel offers solutions for a wide range of liquid products

                </h2>


<p>Our leading expertise and capabilities are applicable to many
markets:&nbsp;Water; Carbonated Soft Drinks (both traditional and
sensitive); Sensitive Products such as juices, isotonics and teas;
Milk &amp; Liquid Dairy Products; Beer, Wine &amp; Spirits; Food;
Household &amp; Personal Care Products.</p>

<p>&nbsp;</p>

<p>So, whatever market you're in, we are able to support you at
every step of the way. Our complete portfolio of services and
solutions supports you in creating innovative, attractive and
effective container packaging that maximises the integrity and
shelf life of your liquid products.</p>

<p>&nbsp;</p>


<div>
    @@include('../components/module-coverflow.html')
</div>

<p>&nbsp;</p>


                <footer class="article-content-footer">

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>                </footer>
		    </div>





    <aside class="article-sidebar">

         <div class="sidel-widget sidebar-widget-contact">
		    <h3 class="widget-title">
                <a href="http://www.sidel.com/about-sidel/contact" title="CONTACT" target=_blank>
                    CONTACT OUR EXPERTS
                </a>
		    </h3>
	    </div>




    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">CHOOSE YOUR EQUIPMENT </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing">Blowing</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" class="">Sidel Matrix Blower</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" class="">SBO Universal2eco</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco" class="">SBO Highspeedeco</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universaleco-hr" class="">SBO Universaleco HR</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" class="">SBO Universal PH</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/filling">Filling</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling">Labelling </a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-matrix-sl70" class="">Sidel Matrix SL70</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-rollquattro-evolution" class="">Sidel Rollquattro Evolution</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-rollsleeve" class="">Sidel Rollsleeve</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-rolladhesive" class="">Sidel Rolladhesive</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-cold-glue" class="">Sidel Cold Glue</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-sl90" class="">Sidel SL90</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-hot-melt" class="">Sidel Hot Melt</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">Blowing-filling-capping system</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/end-of-line-solutions">End of line solutions</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/conveying" class="">Conveying </a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/wrapping-packing" class="">Wrapping &amp; Packing</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/palletising,-depalletising" class="">Palletising, Depalletising</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/crating-and-decrating-" class="">Crating and Decrating </a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/complete-lines">Complete lines</a>
                        <span class="btn-toggle"></span>
                    </li>
            </ul>
        </div>
    </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">CHOOSE YOUR SERVICES</h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/maintenance">Maintenance</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/maintenance/maintenance-agreements" class="">Maintenance agreements</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/technical-and-field-support" class="">Technical and field support</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/diagnostic-visits" class="">Diagnostic Visits</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/asset-management" class="">Asset Management</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/line-improvement">Line improvement</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/line-improvement/remote-data-analysis" class="">Remote data analysis</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/line-audits" class="">Line Audits</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/options-and-upgrades" class="">Options &amp; Upgrades</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/second-hand-equipment" class="">Second-hand Equipment</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/training">Training</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/training/training-programmes-and-solutions" class="">Training programmes and solutions</a></li>
                                    <li><a href="http://www.sidel.com/services/training/competence-audits" class="">Competence audits</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/spare-parts-logistics">Spare Parts &amp; Logistics</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/original-sidel-spare-parts" class="">Original Sidel spare parts</a></li>
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/global-logistics-and-delivery" class="">Global logistics and delivery</a></li>
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/intelligent-replacement" class="">Intelligent replacement</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/line-conversions-moulds">Line Conversions &amp; Moulds</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/line-conversions-moulds/line-conversions" class="">Line conversions</a></li>
                                    <li><a href="http://www.sidel.com/services/line-conversions-moulds/original-sidel-moulds" class="">Original Sidel moulds</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/packaging">Packaging</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design" class="">Packaging and preform design</a></li>
                                    <li><a href="http://www.sidel.com/services/packaging/packaging-optimisation" class="">Packaging optimisation</a></li>
                                    <li><a href="http://www.sidel.com/services/packaging/packaging-qualification" class="">Packaging qualification</a></li>
                                    <li><a href="http://www.sidel.com/services/packaging/liquid-package-interaction-analysis" class="">Liquid-package interaction analysis</a></li>
                            </ul>
                    </li>
            </ul>
        </div>
    </div>






    </aside>











	    </div>


		<div class="article-previews">
			<ul>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/your-liquids/water">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2713466/600x244-water.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Water</h2>
						    <p>Do you want to ensure your water production line does not come up short?
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/your-liquids/juices,-nectars,-soft-drinks,-isotonics,-teas">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/3371431/600x244-jnsdit.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>JUICES, TEAS AND SPORT DRINKS – QUALITY &amp; SAFETY YOU CAN RELY ON</h2>
						    <p>Changing lifestyles and demographics mean the popularity of juice, nectar, soft...
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  no-margin">
                        <a href="http://www.sidel.com/your-liquids/carbonated-soft-drinks-(csd)">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2774954/600x244-csd2.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Carbonated Soft Drinks</h2>
						    <p>The many proven possibilities for carbonated soft drinks
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                        <li class="clearfix"></li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/your-liquids/liquid-dairy-products">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/3619197/600x244-ldp2.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>EXPAND YOUR DAIRY BUSINESS WITH HIGHER QUALITY AND SAFETY</h2>
						    <p>Modern lifestyle trends are giving liquid dairy products new life
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/your-liquids/beer">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4620403/600x244-beer.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Five billion litres of beer in PET need expert packaging every year</h2>
						    <p>Sidel is the proven beer-in-PET partner with flexible solutions
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="clearfix"></li>
				<li class="ghost-last">
				</li>
			</ul>
		</div>





    @@include('../components/widget-sidelinks.html')

  </div>

      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




    <!-- End Main Content -->

@@include('../components/doc-bottom.html')
