@@include('../components/doc-head.html',{
  "title" : "Equipment"
})
    <body id="EN" class="Sektion wide-page " data-splash="0" data-splash-lang="" >

        <!-- Main Content -->


    <main class="container">

        <!-- Header -->
        <!-- Variables -->


<!-- Initialization -->


    @@include('../components/page-header.html')



        <!-- Header -->

        <!-- START BREADCRUMBS -->




    <div class="breadcrumbs">
        <ul class="page-width breadcrumb">
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="active">
        <a href="http://www.sidel.com/equipment" class="first">Equipment</a>


            <div class="breadcrumb-lvl2-wrapper">
                <ul class="breadcrumb-lvl2">
                        <li class="first odd">
                            <a href="http://www.sidel.com/equipment/blowing" >
                                Blowing
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/dry-preform-decontamination" >
                                Dry preform decontamination
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/filling" >
                                Filling
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/blowing-filling-capping-system" >
                                Blowing-filling-capping system
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/labelling" >
                                Labelling
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.sidel.com/equipment/end-of-line-solutions" >
                                End of line solutions
                            </a>
                        </li>
                        <li class=" odd">
                            <a href="http://www.sidel.com/equipment/complete-lines" >
                                Complete lines
                            </a>
                        </li>
                        <li class=" last">
                            <a href="http://www.sidel.com/equipment/sidel-matrix" >
                                Sidel Matrix
                            </a>
                        </li>
                </ul>
            </div>

    </li>

        </ul>
    </div>








        <!-- BREADCRUMBS END -->

      <!-- Start content -->


            <div class="hero-banner">
            <div id="slideshow-hero" class="owl-carousel owl-theme oneitem" style="background: url('/images/bg-banner-gradient.png') top left repeat-x;">
    <div class="item" style="background:url('/images/bg-banner-gradient.png') top left repeat-x;">
        <div class="item-image lazy" data-src="http://sidel.com/media/3764613/top-sidelequipment-en.png"></div>
        <img class="" src="images/bg-banner-gradient.png" alt=""/>
        <div class=texts>
                <div class="sidel-widget sidebar-widget-list-links">
                    <div class="widget-title">MOST POPULAR </div>
                    <div class="widget-body">
                        <ul>
                                <li class="has-sub"><a href="http://www.sidel.com/equipment/sidel-matrix" >Sidel Matrix</a></li>
                                <li class="has-sub"><a href="http://www.sidel.com/equipment/dry-preform-decontamination" >Dry preform decontamination</a></li>
                                <li class="has-sub"><a href="http://www.sidel.com/equipment/blowing-filling-capping-system" >Blowing-filling-capping system</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

            </div>
        </div>



    <div class="page-content">
        <div class="article-body page-width">
		    <div class="article-content">

		        <h1 class="article-title">
				    Equipment
			    </h1>

                <h2 class="article-subtitle">
                    A solution for every need
                </h2>


<p>After over 50 years of working in the industry and with clients
all over the world, we have a clear understanding of what our
customers want. And ever since, we've been pushing the boundaries
of technology, striving to design solutions that make your
production seamless and your business competitive.</p>

<p><br />
 From packaging&nbsp;and blowing to filling, labelling and packing,
through to palletising, we have solutions designed to meet any need
your business may have. Whatever material your packaging uses.
Whatever market you're in. Whether you're just starting out or have
a mature brand.<br />
<br />
 And if you don't see a solution that&nbsp;fits exactly with what
your business needs, just ask and we'll design one that does.
That's what being a complete solutions provider is all about.<br />
<br />
 At Sidel, we always challenge our equipment in order to be the
best in class, therefore generating sustainable products to match
the best expected performances.</p>


                <footer class="article-content-footer">

<div class="social">
	<ul class="addthis_toolbox addthis_default_style addthis_24x24_style">
		<li class="share-artile-title">Share this article</li>
		<li><a class="addthis_button_linkedin"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>

        <li>
            <a id="btn-share-mail" class="addthis_button_email" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(/images/icon-share-mail.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Mail
                </span>
            </a>
        </li>

        <li>
            <a id="btn-share-print" class="addthis_button_print" href="#" style="font-size: 11px;font-family: Arial,sans-serif;line-height: 16px;color: #e54c1b;">
                <span style="line-height: 16px;vertical-align: middle;margin: 0px;padding: 0px;background: url(/images/icon-share-print.png) right center no-repeat;padding-right: 24px;margin-left: 15px;">
                    Print
                </span>
            </a>
        </li>

    </ul>
</div>                </footer>
		    </div>





    <aside class="article-sidebar">

         <div class="sidel-widget sidebar-widget-contact">
		    <h3 class="widget-title">
                <a href="http://www.sidel.com/about-sidel/contact" title="CONTACT" target=_blank>
                    CONTACT OUR EXPERTS
                </a>
		    </h3>
	    </div>




    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">
CHOOSE YOUR EQUIPMENT         </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing">Blowing</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/blowing/sidel-matrix-blower" class="">Sidel Matrix Blower</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-2eco" class="">SBO Universal2eco</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-highspeedeco" class="">SBO Highspeedeco</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universaleco-hr" class="">SBO Universaleco HR</a></li>
                                    <li><a href="http://www.sidel.com/equipment/blowing/sbo-universal-ph" class="">SBO Universal PH</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/filling">Filling</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/labelling">Labelling </a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-matrix-sl70" class="">Sidel Matrix SL70</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-rollquattro-evolution" class="">Sidel Rollquattro Evolution</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-rollsleeve" class="">Sidel Rollsleeve</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-rolladhesive" class="">Sidel Rolladhesive</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-cold-glue" class="">Sidel Cold Glue</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-sl90" class="">Sidel SL90</a></li>
                                    <li><a href="http://www.sidel.com/equipment/labelling/sidel-hot-melt" class="">Sidel Hot Melt</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/blowing-filling-capping-system">Blowing-filling-capping system</a>
                        <span class="btn-toggle"></span>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/end-of-line-solutions">End of line solutions</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/conveying" class="">Conveying </a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/wrapping-packing" class="">Wrapping &amp; Packing</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/palletising,-depalletising" class="">Palletising, Depalletising</a></li>
                                    <li><a href="http://www.sidel.com/equipment/end-of-line-solutions/crating-and-decrating-" class="">Crating and Decrating </a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/equipment/complete-lines">Complete lines</a>
                        <span class="btn-toggle"></span>
                    </li>
            </ul>
        </div>
    </div>
    <div class="sidel-widget sidebar-widget-list-links">
        <h3 class="widget-title">
CHOOSE YOUR SERVICES        </h3>
        <div class="widget-body">
            <ul>

                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/maintenance">Maintenance</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/maintenance/maintenance-agreements" class="">Maintenance agreements</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/technical-and-field-support" class="">Technical and field support</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/diagnostic-visits" class="">Diagnostic Visits</a></li>
                                    <li><a href="http://www.sidel.com/services/maintenance/asset-management" class="">Asset Management</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/line-improvement">Line improvement</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/line-improvement/remote-data-analysis" class="">Remote data analysis</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/line-audits" class="">Line Audits</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/options-and-upgrades" class="">Options &amp; Upgrades</a></li>
                                    <li><a href="http://www.sidel.com/services/line-improvement/second-hand-equipment" class="">Second-hand Equipment</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/training">Training</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/training/training-programmes-and-solutions" class="">Training programmes and solutions</a></li>
                                    <li><a href="http://www.sidel.com/services/training/competence-audits" class="">Competence audits</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/spare-parts-logistics">Spare Parts &amp; Logistics</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/original-sidel-spare-parts" class="">Original Sidel spare parts</a></li>
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/global-logistics-and-delivery" class="">Global logistics and delivery</a></li>
                                    <li><a href="http://www.sidel.com/services/spare-parts-logistics/intelligent-replacement" class="">Intelligent replacement</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/line-conversions-moulds">Line Conversions &amp; Moulds</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/line-conversions-moulds/line-conversions" class="">Line conversions</a></li>
                                    <li><a href="http://www.sidel.com/services/line-conversions-moulds/original-sidel-moulds" class="">Original Sidel moulds</a></li>
                            </ul>
                    </li>
                    <li class="has-sub">
                        <span class="btn-toggle"></span>
                        <a href="http://www.sidel.com/services/packaging">Packaging</a>
                        <span class="btn-toggle"></span>
                            <ul class="sub-list ">
                                    <li><a href="http://www.sidel.com/services/packaging/packaging-and-preform-design" class="">Packaging and preform design</a></li>
                                    <li><a href="http://www.sidel.com/services/packaging/packaging-optimisation" class="">Packaging optimisation</a></li>
                                    <li><a href="http://www.sidel.com/services/packaging/packaging-qualification" class="">Packaging qualification</a></li>
                                    <li><a href="http://www.sidel.com/services/packaging/liquid-package-interaction-analysis" class="">Liquid-package interaction analysis</a></li>
                            </ul>
                    </li>
            </ul>
        </div>
    </div>






    </aside>











	    </div>


		<div class="article-previews">
			<ul>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/equipment/complete-lines">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/109124/line_improvement_572_233.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Complete lines</h2>
						    <p>Understanding, creating and sustaining your productivity
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/equipment/sidel-matrix">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/2033779/matrixlineshd-fullcolour.png&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>The PET Revolution is here</h2>
						    <p>Sidel Matrix comes together to meet your needs and give you a lower total cost of...
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  no-margin">
                        <a href="http://www.sidel.com/equipment/blowing">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/4613918/blower_top_picture_1.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>A BLOW MOULDING SOLUTION ADAPTED TO YOUR BEVERAGE</h2>
						    <p>Benefit from our 30 years of experience in PET blow moulding
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                        <li class="clearfix"></li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/equipment/dry-preform-decontamination">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/109129/3.3.3-predis-250px.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Dry preform decontamination</h2>
						    <p>Predis™: proven benefits for your business with dry preform decontamination
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/equipment/filling">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/109396/3.3.9-filling-250px.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Filling</h2>
						    <p>Bottle filling to the brink of precision
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="article-item  no-margin">
                        <a href="http://www.sidel.com/equipment/end-of-line-solutions">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/109955/3.3.15-palletizing-250px.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>END OF LINE SOLUTIONS</h2>
						    <p>Customised to your product and layout
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                        <li class="clearfix"></li>
                    <li class="article-item  ">
                        <a href="http://www.sidel.com/equipment/labelling">
                            <div class="lazy" data-src="http://sidel.com/umbraco/ImageGen.ashx?image=/media/5945493/labelling-new_small.jpg&amp;width=300&amp;compression=80" style="overflow: hidden;height: 140px;background-size:cover;"></div>
						    <h2>Stand out and save with Sidel flexible labelling solutions</h2>
						    <p>Benefit from our 40 years of labelling excellence
                                <span class="link-icon"></span>
						    </p>

                            <img class="hover-effect" src="images/hover-frontpage-news-image.png" alt=""/>
                        </a>

					</li>
                    <li class="clearfix"></li>
				<li class="ghost-last">
				</li>
			</ul>
		</div>





    @@include('../components/widget-sidelinks.html')

    </div>

      <!-- End content-->


      <!-- Start footer -->
      @@include('../components/page-footer.html')
      <!-- End footer -->
    </main>




        <!-- End Main Content -->

        @@include('../components/doc-bottom.html')
